In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display

import statsmodels.api as sm

/Users/zhangxinzhou/anaconda/lib/python2.7/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [2]:
pd.options.display.max_columns = None

In [3]:
destinations = pd.read_csv("destinations.csv")
sample_sub = pd.read_csv("sample_submission.csv")
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [4]:
destinations.head()

,srch_destination_id,d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20,d21,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31,d32,d33,d34,d35,d36,d37,d38,d39,d40,d41,d42,d43,d44,d45,d46,d47,d48,d49,d50,d51,d52,d53,d54,d55,d56,d57,d58,d59,d60,d61,d62,d63,d64,d65,d66,d67,d68,d69,d70,d71,d72,d73,d74,d75,d76,d77,d78,d79,d80,d81,d82,d83,d84,d85,d86,d87,d88,d89,d90,d91,d92,d93,d94,d95,d96,d97,d98,d99,d100,d101,d102,d103,d104,d105,d106,d107,d108,d109,d110,d111,d112,d113,d114,d115,d116,d117,d118,d119,d120,d121,d122,d123,d124,d125,d126,d127,d128,d129,d130,d131,d132,d133,d134,d135,d136,d137,d138,d139,d140,d141,d142,d143,d144,d145,d146,d147,d148,d149
0,0,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657
1,1,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.165028,-2.181690,-2.181690,-2.031597,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.043789,-2.181690,-2.181690,-2.181690,-2.165028,-2.181690,-2.133508,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.133508,-2.181690,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.165028,-2.165028,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.133508,-2.181690,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.181690,-2.181690,-2.181690,-2.165028,-2.181690,-2.181690,-2.181690,-2.181690,-2.148982,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.133508,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.133508,-2.181690,-2.181690,-2.181690,-2.148982,-2.181690,-2.181690,-2.181690,-2.181690,-2.148982,-2.181690,-2.181690,-2.165028,-2.181690,-2.165028,-2.181690,-2.181690,-2.165028,-2.181690,-2.181690,-2.181690,-2.181690
2,2,-2.183490,-2.224164,-2.224164,-2.189562,-2.105819,-2.075407,-2.224164,-2.118483,-2.140393,-2.224164,-2.209855,-2.224164,-2.110723,-2.186008,-2.224164,-2.124474,-2.224164,-2.156467,-2.224164,-2.224164,-2.224164,-2.224164,-2.224164,-2.224164,-2.224164,-2.224164,-2.224164,-2.224164,-2.153316,-2.186008,-2.224164,-2.224164,-2.224164,-2.128237,-2.158309,-2.059716,-1.910270,-2.224164,-2.123050,-2.224164,-2.154047,-2.197327,-1.945461,-2.224164,-2.224164,-2.197327,-2.166886,-2.192009,-1.903782,-2.224164,-2.189562,-2.224164,-2.083104,-2.224164,-2.070096,-2.157745,-2.196379,-2.069813,-2.224164,-2.224164,-2.072953,-2.224164,-2.224164,-2.224164,-2.224164,-2.140393,-2.224164,-2.224164,-2.096550,-2.224164,-2.187529,-2.224164,-2.224164,-2.098667,-2.016373,-2.224164,-2.126123,-2.189562,-2.008317,-2.085827,-2.224164,-2.224164,-2.224164,-2.218361,-2.219342,-2.224164,-2.224164,-2.160492,-2.224164,-2.224164,-2.076796,-2.224164,-1.975081,-2.166149,-2.224164,-2.224164,-2.224164,-2.224164,-2.224164,-2.163748,-2.224164,-2.072359,-2.100277,-2.224164,-2.203533,-2.224164,-2.224164,-2.094364,-2.224164,-2.140393,-2.224164,-2.164722,-2.224164,-2.154997,-2.197327,-2.224164,-2.197327,-2.224164,-2.224164,-2.197327,-2.187005,-2.026263,-2.224164,-2.224164,-2.224164,-2.223818,-2.224164,-2.049280,-2.189562,-2.118483,-2.145558,-2.117811,-2.224164,-2.180182,-2.224164,-2.224164,-2.214572,-2.186008,-2.191569,-2.224164,-2.224164,-2.196379,-2.224164,-2.192009,-2.224164,-2.224164,-2.224164,-2.224164,-2.057548
3,3,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.115485,-2.177409,-2.177409,-2.177409,-2.177409,-2.161081,-2.177409,-2.177409,-2.177409,-2.177409,-2.130158,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.101291,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.145344,-2.177409,-2.177409,-2.177409,-2.145344,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.101291,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.161081,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.115485,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.161081,-2.177409,-2.177409,-2.161081,-2.130158,-2.177409,-2.177409,-2.177409,-2.177409,-2.115485,-2.177409,-2.161081,-2.161081,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409
4,4,-2.189562,-2.187783,-2.194008,-2.171153,-2.152303,-2.056618,-2.194008,-2.194008,-2.145911,-2.194008,-2.089094,-2.194008,-2.155205,-2.070995,-2.194008,-2.074964,-2.185526,-2.194008,-2.189562,-2.191779,-2.185032,-2.150215,-2.194008,-2.189233,-2.194008,-2.191631,-2.146025,-2.194008,-2.130263,-2.177813,-2.194008,-2.159651,-2.194008,-2.170700,-2.194008,-2.194008,-1.946523,-2.191779,-2.194008,-2.172218,-2.188901,-2.194008,-2.109317,-2.181161,-2.175595,-2.194008,-2.180677,-2.194008,-2.092435,-2.194008,-2.172544,-2.194008,-2.145418,-2.194008,-2.115699,-2.120789,-2.188037,-2.149211,-2.194008,-2.194008,-2.191779,-2.194008,-2.185032,-2.194008,-2.194008,-2.169871,-2.194008,-2.194008,-2.167989,-2.194008,-2.158422,-2.194008,-2.191779,-2.174543,-2.180712,-2.177944,-2.188901,-2.165486,-2.191779,-2.145961,-2.194008,-2.187356,-2.169871,-2.191715,-2.191110,-2.194008,-2.194008,-2.176134,-2.194008,-2.194008,-2.194008,-2.194008,-1.964288,-2.176791,-2.191779,-2.191779,-2.189562,-2.194008,-2.194008,-2.194008,-2.165889,-2.194008,-2.145988,-2.194008,-2.194008,-2.191779,-2.194008,-2.097420,-2.194008,-2.180027,-2.194008,-2.194008,-2.194008,-2.194008,-2.191779,-2.194008,-2.194008,-2.194008,-2.194008,-2.194008,-2.152740,-2.139178,-2.194008,-2.182305,-2.194008,-2.194008,-2.194008,-2.157163,-2.194008,-2.174454,-2.139365,-2.099302,-2.194008,-2.194008,-2.194008,-2.194008,-2.151470,-2.194008,-2.163242,-2.187356,-2.194008,-2.191779,-2.194008,-2.194008,-2.185161,-2.194008,-2.194008,-2.194008,-2.188037

In [5]:
sample_sub.head()

   id hotel_cluster
0   0          99 1
1   1          99 1
2   2          99 1
3   3          99 1
4   4          99 1

In [6]:
train.columns

Index([u'date_time', u'site_name', u'posa_continent', u'user_location_country',
       u'user_location_region', u'user_location_city',
       u'orig_destination_distance', u'user_id', u'is_mobile', u'is_package',
       u'channel', u'srch_ci', u'srch_co', u'srch_adults_cnt',
       u'srch_children_cnt', u'srch_rm_cnt', u'srch_destination_id',
       u'srch_destination_type_id', u'is_booking', u'cnt', u'hotel_continent',
       u'hotel_country', u'hotel_market', u'hotel_cluster'],
      dtype='object')

In [7]:
train.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,9,2014-08-27,2014-08-31,2,0,1,8250,1,0,3,2,50,628,1
1,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,9,2014-08-29,2014-09-02,2,0,1,8250,1,1,1,2,50,628,1
2,2014-08-11 08:24:33,2,3,66,348,48862,2234.2641,12,0,0,9,2014-08-29,2014-09-02,2,0,1,8250,1,0,1,2,50,628,1
3,2014-08-09 18:05:16,2,3,66,442,35390,913.1932,93,0,0,3,2014-11-23,2014-11-28,2,0,1,14984,1,0,1,2,50,1457,80
4,2014-08-09 18:08:18,2,3,66,442,35390,913.6259,93,0,0,3,2014-11-23,2014-11-28,2,0,1,14984,1,0,1,2,50,1457,21

In [8]:
train.describe()

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
count,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,2.414529e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07
mean,9.795271e+00,2.680473e+00,8.610880e+01,3.084060e+02,2.775304e+04,1.970090e+03,6.044518e+05,1.349265e-01,2.489042e-01,5.870761e+00,2.024296e+00,3.321222e-01,1.112663e+00,1.444109e+04,2.582280e+00,7.965675e-02,1.483384e+00,3.156305e+00,8.129685e+01,6.004619e+02,4.980861e+01
std,1.196754e+01,7.480393e-01,5.924310e+01,2.084437e+02,1.678255e+04,2.232442e+03,3.506175e+05,3.416451e-01,4.323782e-01,3.717095e+00,9.116678e-01,7.314981e-01,4.591155e-01,1.106630e+04,2.153019e+00,2.707611e-01,1.219776e+00,1.623189e+00,5.617119e+01,5.117391e+02,2.891595e+01
min,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.600000e-03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.000000e+00,6.600000e+01,1.740000e+02,1.300900e+04,3.131670e+02,2.989100e+05,0.000000e+00,0.000000e+00,2.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,8.267000e+03,1.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,5.000000e+01,1.600000e+02,2.500000e+01
50%,2.000000e+00,3.000000e+00,6.600000e+01,3.140000e+02,2.765500e+04,1.140491e+03,6.039140e+05,0.000000e+00,0.000000e+00,9.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,9.147000e+03,1.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,5.000000e+01,5.930000e+02,4.900000e+01
75%,1.400000e+01,3.000000e+00,7.000000e+01,3.850000e+02,4.241300e+04,2.552599e+03,9.101680e+05,0.000000e+00,0.000000e+00,9.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,1.879000e+04,5.000000e+00,0.000000e+00,2.000000e+00,4.000000e+00,1.060000e+02,7.010000e+02,7.300000e+01
max,5.300000e+01,4.000000e+00,2.390000e+02,1.027000e+03,5.650800e+04,1.240790e+04,1.198785e+06,1.000000e+00,1.000000e+00,1.000000e+01,9.000000e+00,9.000000e+00,8.000000e+00,6.510700e+04,9.000000e+00,1.000000e+00,2.690000e+02,6.000000e+00,2.120000e+02,2.117000e+03,9.900000e+01

In [9]:
cnt_columns = [col for col in train.columns if 'cnt' in col]
train[cnt_columns]

          srch_adults_cnt  srch_children_cnt  srch_rm_cnt  cnt
0                       2                  0            1    3
1                       2                  0            1    1
2                       2                  0            1    1
3                       2                  0            1    1
4                       2                  0            1    1
5                       2                  0            1    1
6                       2                  0            1    2
7                       2                  0            1    1
8                       2                  0            1    1
9                       2                  0            1    1
10                      2                  0            1    1
11                      2                  0            1    1
12                      2                  0            1    5
13                      2                  0            1    1
14                      2                  0            1    1
15                      2                  0            1    1
16                      2                  0            1    1
17                      2                  0            1    1
18                      2                  0            1    1
19                      2                  0            1    1
20                      2                  0            1    1
21                      1                  0            1    2
22                      1                  0            1    2
23                      1                  0            1    1
24                      2                  0            1    2
25                      1                  0            1    1
26                      2                  0            1    1
27                      2                  0            1    1
28                      2                  0            1    1
29                      2                  0            1    1
...                   ...                ...          ...  ...
37670263                2                  2            1    1
37670264                2                  2            1    8
37670265                2                  2            1    1
37670266                2                  2            1    1
37670267                3                  1            1    2
37670268                3                  1            1    3
37670269                3                  1            1    1
37670270                3                  1            1    1
37670271                3                  1            1    1
37670272                2                  0            1    2
37670273                1                  0            1    3
37670274                1                  0            1    1
37670275                1                  0            1    1
37670276                1                  0            1    1
37670277                1                  0            1    1
37670278                2                  0            1    1
37670279                1                  0            1    1
37670280                1                  0            1    3
37670281                1                  0            1    1
37670282                2                  0            1    1
37670283                1                  0            1    2
37670284                1                  0            1    1
37670285                1                  0            1    1
37670286                1                  0            1    1
37670287                1                  0            1    1
37670288                2                  0            1    1
37670289                1                  0            1    1
37670290                1                  0            1    1
37670291                1                  0            1    1
37670292                1                  0            1    1

[37670293 rows x 4 columns]

In [10]:
srch_cols = [col for col in train.columns if 'srch' in col]
train[srch_cols]

,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id
0,2014-08-27,2014-08-31,2,0,1,8250,1
1,2014-08-29,2014-09-02,2,0,1,8250,1
2,2014-08-29,2014-09-02,2,0,1,8250,1
3,2014-11-23,2014-11-28,2,0,1,14984,1
4,2014-11-23,2014-11-28,2,0,1,14984,1
5,2014-11-23,2014-11-28,2,0,1,14984,1
6,2014-08-01,2014-08-02,2,0,1,8267,1
7,2014-08-01,2014-08-02,2,0,1,8267,1
8,2014-08-01,2014-08-02,2,0,1,8267,1
9,2014-08-01,2014-08-02,2,0,1,8267,1
10,2014-08-01,2014-08-02,2,0,1,8267,1
11,2014-08-01,2014-08-02,2,0,1,8267,1
12,2014-04-17,2014-04-20,2,0,1,8291,1
13,2014-04-16,2014-04-19,2,0,1,8291,1
14,2014-04-17,2014-04-20,2,0,1,8291,1
15,2014-04-18,2014-04-20,2,0,1,8291,1
16,2014-04-18,2014-04-20,2,0,1,8291,1
17,2014-04-17,2014-04-19,2,0,1,8291,1
18,2014-04-17,2014-04-19,2,0,1,8291,1
19,2014-04-17,2014-04-19,2,0,1,8291,1
20,2014-04-18,2014-04-20,2,0,1,8291,1
21,2015-02-06,2015-02-08,1,0,1,12193,6
22,2015-02-06,2015-02-08,1,0,1,12193,6
23,2015-02-06,2015-02-08,1,0,1,12193,6
24,2014-10-25,2014-10-26,2,0,1,27082,6
25,2015-01-22,2015-01-24,1,0,1,8250,1
26,2013-09-07,2013-09-15,2,0,1,1385,1
27,2013-09-06,2013-09-14,2,0,1,1385,1
28,2015-06-26,2015-06-28,2,0,1,8803,1
29,2015-06-26,2015-06-28,2,0,1,8803,1
...,...,...,...,...,...,...,...
37670263,2013-07-02,2013-07-06,2,2,1,12267,6
37670264,2013-07-02,2013-07-06,2,2,1,12267,6
37670265,2013-07-02,2013-07-06,2,2,1,12267,6
37670266,2013-07-02,2013-07-06,2,2,1,12267,6
37670267,2014-06-29,2014-07-05,3,1,1,45327,6
37670268,2014-06-29,2014-07-05,3,1,1,45327,6
37670269,2014-06-29,2014-07-05,3,1,1,45327,6
37670270,2014-06-29,2014-07-05,3,1,1,45327,6
37670271,2014-06-29,2014-07-05,3,1,1,45327,6
37670272,2013-09-18,2013-09-19,2,0,1,12206,6
37670273,2013-09-18,2013-09-19,1,0,1,12206,6
37670274,2013-10-23,2013-10-24,1,0,1,24144,6
37670275,2013-10-23,2013-10-24,1,0,1,24144,6
37670276,2013-10-30,2013-10-31,1,0,1,24144,6
37670277,2013-10-30,2013-10-31,1,0,1,24144,6
37670278,2014-01-30,2014-02-01,2,0,1,8273,1
37670279,2014-02-22,2014-02-26,1,0,1,8273,1
37670280,2014-02-22,2014-02-26,1,0,1,8273,1
37670281,2014-02-23,2014-02-27,1,0,1,8273,1
37670282,2014-03-20,2014-03-27,2,0,1,8808,1
37670283,2014-07-27,2014-07-28,1,0,1,18811,1
37670284,2014-07-27,2014-07-28,1,0,1,18811,1
37670285,2014-07-27,2014-07-28,1,0,1,18811,1
37670286,2014-07-28,2014-08-01,1,0,1,8281,1
37670287,2014-07-28,2014-08-01,1,0,1,12272,6
37670288,2014-11-16,2014-11-22,2,0,1,8855,1
37670289,2014-10-20,2014-10-25,1,0,1,8281,1
37670290,2014-09-15,2014-09-16,1,0,1,5620,3
37670291,2014-09-18,2014-09-19,1,0,1,18811,1
37670292,2014-09-18,2014-09-19,1,0,1,18811,1

In [11]:
hotel_cols = [col for col in train.columns if 'hotel' in col]
train[hotel_cols]

          hotel_continent  hotel_country  hotel_market  hotel_cluster
0                       2             50           628              1
1                       2             50           628              1
2                       2             50           628              1
3                       2             50          1457             80
4                       2             50          1457             21
5                       2             50          1457             92
6                       2             50           675             41
7                       2             50           675             41
8                       2             50           675             69
9                       2             50           675             70
10                      2             50           675             98
11                      2             50           675             10
12                      2             50           191             18
13                      2             50           191             28
14                      2             50           191             25
15                      2             50           191             25
16                      2             50           191             25
17                      2             50           191             25
18                      2             50           191             25
19                      2             50           191              2
20                      2             50           191              2
21                      2             50           406             16
22                      2             50           406             16
23                      2             50           406             94
24                      2             50           641             77
25                      2             50           628             24
26                      0            185           185             58
27                      0            185           185             58
28                      3            151            69             36
29                      3            151            69             82
...                   ...            ...           ...            ...
37670263                2             50          1230              8
37670264                2             50          1230             91
37670265                2             50          1230             95
37670266                2             50          1230             91
37670267                2             50           675             70
37670268                2             50           675             70
37670269                2             50           675             56
37670270                2             50           675             70
37670271                2             50           675             98
37670272                2             50           628             18
37670273                2             50           628             51
37670274                2             50           967              7
37670275                2             50           967              7
37670276                2             50           967             42
37670277                2             50           967             42
37670278                2             50           660             68
37670279                2             50           660             68
37670280                2             50           660             68
37670281                2             50           660             68
37670282                6            169            28             86
37670283                2             50           592             77
37670284                2             50           592             51
37670285                2             50           592             77
37670286                2             50           663             33
37670287                2             50           663             40
37670288                2             50           213             26
37670289                2             50           663              9
37670290                2             50           663             94
37670291                2             50           592             42
37670292                2             50           592             42

[37670293 rows x 4 columns]

In [12]:
bool_col = [col for col in train.columns if 'is_' in col]
train[bool_col]

          is_mobile  is_package  is_booking
0                 0           1           0
1                 0           1           1
2                 0           0           0
3                 0           0           0
4                 0           0           0
5                 0           0           0
6                 0           0           0
7                 0           1           0
8                 0           0           0
9                 0           0           0
10                0           0           0
11                0           0           0
12                0           1           0
13                0           1           0
14                0           1           0
15                0           1           0
16                0           1           0
17                0           1           0
18                0           1           0
19                0           1           0
20                0           1           1
21                0           1           0
22                0           1           0
23                0           1           0
24                0           0           0
25                0           1           0
26                0           1           0
27                0           1           1
28                0           0           0
29                0           0           0
...             ...         ...         ...
37670263          1           1           0
37670264          1           1           0
37670265          1           1           0
37670266          1           1           1
37670267          1           0           0
37670268          1           0           0
37670269          1           0           0
37670270          1           0           0
37670271          1           0           0
37670272          1           0           0
37670273          1           0           0
37670274          0           0           0
37670275          0           0           1
37670276          0           0           0
37670277          0           0           1
37670278          0           1           0
37670279          0           1           0
37670280          0           1           0
37670281          0           1           1
37670282          0           1           0
37670283          0           0           0
37670284          0           0           0
37670285          0           0           1
37670286          0           0           0
37670287          0           0           0
37670288          0           1           0
37670289          0           0           0
37670290          0           0           0
37670291          0           0           0
37670292          0           0           1

[37670293 rows x 3 columns]

In [16]:
'''box_plot = train.boxplot(figsize=(40,120))
plt.savefig("box_plot")

hist_plot = train.hist(figsize=(60,60))
plt.savefig("hist_plot")

sm = pd.scatter_matrix(train, diagonal='kde', figsize=(80,80))
plt.savefig('scatter_matrix')'''

'box_plot = train.boxplot(figsize=(40,120))\nplt.savefig("box_plot")\n\nhist_plot = train.hist(figsize=(60,60))\nplt.savefig("hist_plot")\n\nsm = pd.scatter_matrix(train, diagonal=\'kde\', figsize=(80,80))\nplt.savefig(\'scatter_matrix\')'

In [17]:
corr_df = train.corr()
display(corr_df)

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
site_name,1.000000,-0.634817,0.166413,0.128214,-0.016054,0.030325,0.024071,-0.007104,0.051813,-0.029738,-0.009045,-0.032234,0.015661,0.029020,-0.010693,-0.010379,0.020028,0.202756,0.261031,-0.067097,-0.022408
posa_continent,-0.634817,1.000000,0.175936,-0.028502,0.038822,0.048051,-0.011156,0.016299,-0.094097,0.092033,0.007997,0.033723,-0.031600,-0.012436,0.042590,0.009724,-0.014848,-0.333605,-0.156398,0.050571,0.014938
user_location_country,0.166413,0.175936,1.000000,0.055364,0.123495,0.047720,-0.022941,0.003611,-0.025321,0.106040,0.037286,0.036901,-0.000212,0.009075,0.030556,0.007526,0.002761,-0.067253,0.094649,0.018212,-0.010477
user_location_region,0.128214,-0.028502,0.055364,1.000000,0.129756,0.139158,-0.001498,0.016680,0.038059,0.000603,0.009084,0.012350,0.000271,0.022110,0.009860,0.006352,-0.008889,0.045929,-0.054500,0.044987,0.007453
user_location_city,-0.016054,0.038822,0.123495,0.129756,1.000000,0.012780,-0.006873,0.001440,0.013865,0.026494,0.008192,0.009042,-0.000068,0.002159,0.000508,0.002228,-0.001201,0.005356,-0.009396,0.009446,0.000831
orig_destination_distance,0.030325,0.048051,0.047720,0.139158,0.012780,1.000000,0.015502,-0.054953,0.038864,0.002951,-0.024018,-0.061396,-0.007598,-0.027327,-0.039255,-0.037732,0.009996,0.414828,0.254987,-0.087682,0.007260
user_id,0.024071,-0.011156,-0.022941,-0.001498,-0.006873,0.015502,1.000000,-0.005750,-0.011896,-0.002041,-0.004538,-0.000221,0.001218,0.003012,0.004549,0.001820,-0.000380,0.003775,0.009496,-0.004097,0.001052
is_mobile,-0.007104,0.016299,0.003611,0.016680,0.001440,-0.054953,-0.005750,1.000000,0.054178,-0.032639,0.019587,0.020437,-0.022391,-0.008081,-0.017931,-0.030754,0.004940,-0.021121,-0.025718,0.007820,0.008412
is_package,0.051813,-0.094097,-0.025321,0.038059,0.013865,0.038864,-0.011896,0.054178,1.000000,-0.010251,-0.023110,-0.033506,-0.039098,-0.147546,-0.228205,-0.076347,0.126929,0.111826,-0.038909,-0.015780,0.038733
channel,-0.029738,0.092033,0.106040,0.000603,0.026494,0.002951,-0.002041,-0.032639,-0.010251,1.000000,-0.022516,0.006533,0.006843,0.001719,0.027147,0.024438,-0.011980,-0.021297,-0.001918,0.005026,0.000707
srch_adults_cnt,-0.009045,0.007997,0.037286,0.009084,0.008192,-0.024018,-0.004538,0.019587,-0.023110,-0.022516,1.000000,0.109140,0.511984,0.004149,-0.010342,-0.049045,0.014321,-0.016306,-0.019681,0.006385,0.012309
srch_children_cnt,-0.032234,0.033723,0.036901,0.012350,0.009042,-0.061396,-0.000221,0.020437,-0.033506,0.006533,0.109140,1.000000,0.089419,-0.008384,-0.008433,-0.022272,0.017818,-0.058098,-0.044190,0.001894,0.016261
srch_rm_cnt,0.015661,-0.031600,-0.000212,0.000271,-0.000068,-0.007598,0.001218,-0.022391,-0.039098,0.006843,0.511984,0.089419,1.000000,0.012377,0.011211,0.010840,-0.000192,0.017335,0.008317,-0.000250,-0.005954
srch_destination_id,0.029020,-0.012436,0.009075,0.022110,0.002159,-0.027327,0.003012,-0.008081,-0.147546,0.001719,0.004149,-0.008384,0.012377,1.000000,0.437665,0.024957,-0.021313,0.027697,0.053835,0.083954,-0.011712
srch_destination_type_id,-0.010693,0.042590,0.030556,0.009860,0.000508,-0.039255,0.004549,-0.017931,-0.228205,0.027147,-0.010342,-0.008433,0.011211,0.437665,1.000000,0.040473,-0.025562,-0.037883,-0.022330,0.032463,-0.032850
is_booking,-0.010379,0.009724,0.007526,0.006352,0.002228,-0.037732,0.001820,-0.030754,-0.076347,0.024438,-0.049045,-0.022272,0.010840,0.024957,0.040473,1.000000,-0.112907,-0.026128,-0.003948,0.011958,-0.021548
cnt,0.020028,-0.014848,0.002761,-0.008889,-0.001201,0.009996,-0.000380,0.004940,0.126929,-0.011980,0.014321,0.017818,-0.000192,-0.021313,-0.025562,-0.112907,1.000000,0.017665,-0.001098,-0.011245,0.002944
hotel_continent,0.202756,-0.333605,-0.067253,0.045929,0.005356,0.414828,0.003775,-0.021121,0.111826,-0.021297,-0.016306,-0.058098,0.017335,0.027697,-0.037883,-0.026128,0.017665,1.000000,0.298872,-0.092598,-0.013963
hotel_country,0.261031,-0.156398,0.094649,-0.054500,-0.009396,0.254987,0.009496,-0.025718,-0.038909,-0.001918,-0.019681,-0.044190,0.008317,0.053835,-0.022330,-0.003948,-0.001098,0.298872,1.000000,0.021117,-0.024289
hotel_market,-0.067097,0.050571,0.018212,0.044987,0.009446,-0.087682,-0.004097,0.007820,-0.015780,0.005026,0.006385,0.001894,-0.000250,0.083954,0.032463,0.011958,-0.011245,-0.092598,0.021117,1.000000,0.034205
hotel_cluster,-0.022408,0.014938,-0.010477,0.007453,0.000831,0.007260,0.001052,0.008412,0.038733,0.000707,0.012309,0.016261,-0.005954,-0.011712,-0.032850,-0.021548,0.002944,-0.013963,-0.024289,0.034205,1.000000

In [18]:
corr_df.to_csv("corr_df.csv")

In [19]:
corr_df_sig = corr_df[(corr_df>.4) & (corr_df<1)]
corr_df_sig.dropna(how='all', axis=1, inplace=True)
display(corr_df_sig)

,orig_destination_distance,srch_adults_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent
site_name,NaN,NaN,NaN,NaN,NaN,NaN
posa_continent,NaN,NaN,NaN,NaN,NaN,NaN
user_location_country,NaN,NaN,NaN,NaN,NaN,NaN
user_location_region,NaN,NaN,NaN,NaN,NaN,NaN
user_location_city,NaN,NaN,NaN,NaN,NaN,NaN
orig_destination_distance,NaN,NaN,NaN,NaN,NaN,0.414828
user_id,NaN,NaN,NaN,NaN,NaN,NaN
is_mobile,NaN,NaN,NaN,NaN,NaN,NaN
is_package,NaN,NaN,NaN,NaN,NaN,NaN
channel,NaN,NaN,NaN,NaN,NaN,NaN
srch_adults_cnt,NaN,NaN,0.511984,NaN,NaN,NaN
srch_children_cnt,NaN,NaN,NaN,NaN,NaN,NaN
srch_rm_cnt,NaN,0.511984,NaN,NaN,NaN,NaN
srch_destination_id,NaN,NaN,NaN,NaN,0.437665,NaN
srch_destination_type_id,NaN,NaN,NaN,0.437665,NaN,NaN
is_booking,NaN,NaN,NaN,NaN,NaN,NaN
cnt,NaN,NaN,NaN,NaN,NaN,NaN
hotel_continent,0.414828,NaN,NaN,NaN,NaN,NaN
hotel_country,NaN,NaN,NaN,NaN,NaN,NaN
hotel_market,NaN,NaN,NaN,NaN,NaN,NaN
hotel_cluster,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
sig_cols = corr_df_sig.columns
print sig_cols

Index([u'orig_destination_distance', u'srch_adults_cnt', u'srch_rm_cnt',
       u'srch_destination_id', u'srch_destination_type_id',
       u'hotel_continent'],
      dtype='object')

In [21]:
train[sig_cols]

,orig_destination_distance,srch_adults_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent
0,2234.2641,2,1,8250,1,2
1,2234.2641,2,1,8250,1,2
2,2234.2641,2,1,8250,1,2
3,913.1932,2,1,14984,1,2
4,913.6259,2,1,14984,1,2
5,911.5142,2,1,14984,1,2
6,NaN,2,1,8267,1,2
7,NaN,2,1,8267,1,2
8,NaN,2,1,8267,1,2
9,NaN,2,1,8267,1,2
10,NaN,2,1,8267,1,2
11,NaN,2,1,8267,1,2
12,420.6642,2,1,8291,1,2
13,NaN,2,1,8291,1,2
14,421.8551,2,1,8291,1,2
15,421.8551,2,1,8291,1,2
16,421.8551,2,1,8291,1,2
17,421.8551,2,1,8291,1,2
18,NaN,2,1,8291,1,2
19,NaN,2,1,8291,1,2
20,NaN,2,1,8291,1,2
21,NaN,1,1,12193,6,2
22,NaN,1,1,12193,6,2
23,NaN,1,1,12193,6,2
24,47.7027,2,1,27082,6,2
25,1753.2617,1,1,8250,1,2
26,NaN,2,1,1385,1,0
27,NaN,2,1,1385,1,0
28,NaN,2,1,8803,1,3
29,NaN,2,1,8803,1,3
...,...,...,...,...,...,...
37670263,1181.3053,2,1,12267,6,2
37670264,1181.4133,2,1,12267,6,2
37670265,1184.2432,2,1,12267,6,2
37670266,1181.4133,2,1,12267,6,2
37670267,2024.9563,3,1,45327,6,2
37670268,2024.9016,3,1,45327,6,2
37670269,2024.9274,3,1,45327,6,2
37670270,2024.9634,3,1,45327,6,2
37670271,2025.0021,3,1,45327,6,2
37670272,229.1612,2,1,12206,6,2
37670273,228.9137,1,1,12206,6,2
37670274,113.0804,1,1,24144,6,2
37670275,113.0804,1,1,24144,6,2
37670276,254.2758,1,1,24144,6,2
37670277,254.2758,1,1,24144,6,2
37670278,535.0339,2,1,8273,1,2
37670279,535.0339,1,1,8273,1,2
37670280,535.0339,1,1,8273,1,2
37670281,535.0339,1,1,8273,1,2
37670282,5827.0696,2,1,8808,1,6
37670283,649.6568,1,1,18811,1,2
37670284,654.0284,1,1,18811,1,2
37670285,649.6568,1,1,18811,1,2
37670286,663.3917,1,1,8281,1,2
37670287,677.3041,1,1,12272,6,2
37670288,2348.4075,2,1,8855,1,2
37670289,679.6104,1,1,8281,1,2
37670290,668.1768,1,1,5620,3,2
37670291,106.4274,1,1,18811,1,2
37670292,106.4274,1,1,18811,1,2

In [22]:
train['hotel_cluster']

0            1
1            1
2            1
3           80
4           21
5           92
6           41
7           41
8           69
9           70
10          98
11          10
12          18
13          28
14          25
15          25
16          25
17          25
18          25
19           2
20           2
21          16
22          16
23          94
24          77
25          24
26          58
27          58
28          36
29          82
            ..
37670263     8
37670264    91
37670265    95
37670266    91
37670267    70
37670268    70
37670269    56
37670270    70
37670271    98
37670272    18
37670273    51
37670274     7
37670275     7
37670276    42
37670277    42
37670278    68
37670279    68
37670280    68
37670281    68
37670282    86
37670283    77
37670284    51
37670285    77
37670286    33
37670287    40
37670288    26
37670289     9
37670290    94
37670291    42
37670292    42
Name: hotel_cluster, dtype: int64

In [23]:
sig_train = pd.concat([train[sig_cols], train['hotel_cluster']], axis=1)
sig_train_n = sig_train.dropna()

In [24]:
display(sig_train_n)

,orig_destination_distance,srch_adults_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_cluster
0,2234.2641,2,1,8250,1,2,1
1,2234.2641,2,1,8250,1,2,1
2,2234.2641,2,1,8250,1,2,1
3,913.1932,2,1,14984,1,2,80
4,913.6259,2,1,14984,1,2,21
5,911.5142,2,1,14984,1,2,92
12,420.6642,2,1,8291,1,2,18
14,421.8551,2,1,8291,1,2,25
15,421.8551,2,1,8291,1,2,25
16,421.8551,2,1,8291,1,2,25
17,421.8551,2,1,8291,1,2,25
24,47.7027,2,1,27082,6,2,77
25,1753.2617,1,1,8250,1,2,24
74,2716.6746,2,1,8857,1,2,28
75,2716.5257,2,1,8857,1,2,73
76,2722.4856,2,1,8857,1,2,26
77,2716.6746,2,1,8857,1,2,28
78,2454.8588,3,2,12009,1,2,95
79,2454.8588,3,2,12009,1,2,95
80,2454.8588,2,1,12009,1,2,95
81,2454.8588,2,1,12009,1,2,95
82,2454.8588,2,1,12009,1,2,95
83,2454.8588,2,1,12009,1,2,95
84,2454.8588,3,2,12009,1,2,95
85,2454.8588,2,1,12009,1,2,95
86,2454.8588,2,1,12009,1,2,95
87,2454.8588,4,2,12009,1,2,95
88,2454.8588,3,2,12009,1,2,95
89,2454.8588,2,1,12009,1,2,95
90,2454.8588,2,2,12009,1,2,95
...,...,...,...,...,...,...,...
37670263,1181.3053,2,1,12267,6,2,8
37670264,1181.4133,2,1,12267,6,2,91
37670265,1184.2432,2,1,12267,6,2,95
37670266,1181.4133,2,1,12267,6,2,91
37670267,2024.9563,3,1,45327,6,2,70
37670268,2024.9016,3,1,45327,6,2,70
37670269,2024.9274,3,1,45327,6,2,56
37670270,2024.9634,3,1,45327,6,2,70
37670271,2025.0021,3,1,45327,6,2,98
37670272,229.1612,2,1,12206,6,2,18
37670273,228.9137,1,1,12206,6,2,51
37670274,113.0804,1,1,24144,6,2,7
37670275,113.0804,1,1,24144,6,2,7
37670276,254.2758,1,1,24144,6,2,42
37670277,254.2758,1,1,24144,6,2,42
37670278,535.0339,2,1,8273,1,2,68
37670279,535.0339,1,1,8273,1,2,68
37670280,535.0339,1,1,8273,1,2,68
37670281,535.0339,1,1,8273,1,2,68
37670282,5827.0696,2,1,8808,1,6,86
37670283,649.6568,1,1,18811,1,2,77
37670284,654.0284,1,1,18811,1,2,51
37670285,649.6568,1,1,18811,1,2,77
37670286,663.3917,1,1,8281,1,2,33
37670287,677.3041,1,1,12272,6,2,40
37670288,2348.4075,2,1,8855,1,2,26
37670289,679.6104,1,1,8281,1,2,9
37670290,668.1768,1,1,5620,3,2,94
37670291,106.4274,1,1,18811,1,2,42
37670292,106.4274,1,1,18811,1,2,42

In [25]:
def linearRegressionAnalysis(x1_df, x2_df, y_df):

    y = np.matrix(y_df).transpose()
    x1 = np.matrix(x1_df).transpose()
    x2 = np.matrix(x2_df).transpose()
    x = np.column_stack([x1, x1])

    X = sm.add_constant(x)
    model = sm.OLS(y,X)
    f = model.fit()
    return f.summary()

In [26]:
hotel_cont = sig_train_n['hotel_continent']
ori_d = sig_train_n['orig_destination_distance']
hotel_clus = sig_train_n['hotel_cluster']
linearRegressionAnalysis(hotel_cont, ori_d, hotel_clus)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     35.55
Date:                Thu, 26 May 2016   Prob (F-statistic):           2.49e-09
Time:                        15:45:05   Log-Likelihood:            -1.1568e+08
No. Observations:            24145292   AIC:                         2.314e+08
Df Residuals:                24145290   BIC:                         2.314e+08
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         49.8352      0.013   3862.784      0.000        49.810    49.861
x1             0.0118      0.002      5.962      0.000         0.008     0.016
x2             0.0118      0.002      5.962      0.000         0.008     0.016
==============================================================================
Omnibus:                 15280401.775   Durbin-Watson:                   1.506
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1354447.952
Skew:                           0.012   Prob(JB):                         0.00
Kurtosis:                       1.840   Cond. No.                     3.19e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.24e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [27]:
rm_cont = sig_train_n['srch_rm_cnt']
adult_cont = sig_train_n['srch_adults_cnt']
hotel_clus = sig_train_n['hotel_cluster']

linearRegressionAnalysis(rm_cont, adult_cont, hotel_clus)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     746.3
Date:                Thu, 26 May 2016   Prob (F-statistic):          2.63e-164
Time:                        15:45:40   Log-Likelihood:            -1.1568e+08
No. Observations:            24145292   AIC:                         2.314e+08
Df Residuals:                24145290   BIC:                         2.314e+08
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         50.3166      0.016   3098.202      0.000        50.285    50.348
x1            -0.1872      0.007    -27.318      0.000        -0.201    -0.174
x2            -0.1872      0.007    -27.318      0.000        -0.201    -0.174
==============================================================================
Omnibus:                 15303261.514   Durbin-Watson:                   1.506
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1354878.394
Skew:                           0.011   Prob(JB):                         0.00
Kurtosis:                       1.840   Cond. No.                     1.02e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.53e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [28]:
dest_type = sig_train_n['srch_destination_type_id']
dest = sig_train_n['srch_destination_id']
hotel_clus = sig_train_n['hotel_cluster']

linearRegressionAnalysis(dest_type, dest, hotel_clus)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                 3.387e+04
Date:                Thu, 26 May 2016   Prob (F-statistic):               0.00
Time:                        15:46:06   Log-Likelihood:            -1.1566e+08
No. Observations:            24145292   AIC:                         2.313e+08
Df Residuals:                24145290   BIC:                         2.313e+08
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         51.2262      0.009   5499.898      0.000        51.208    51.244
x1            -0.2517      0.001   -184.047      0.000        -0.254    -0.249
x2            -0.2517      0.001   -184.047      0.000        -0.254    -0.249
==============================================================================
Omnibus:                 14468633.598   Durbin-Watson:                   1.508
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1338010.835
Skew:                           0.012   Prob(JB):                         0.00
Kurtosis:                       1.847   Cond. No.                     1.43e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.8e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [29]:
corr_df_sig1 = corr_df[(corr_df>.25) & (corr_df<1)]
corr_df_sig1.dropna(how='all', axis=1, inplace=True)
display(corr_df_sig1)

,site_name,orig_destination_distance,srch_adults_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country
site_name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.261031
posa_continent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_location_country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_location_region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_location_city,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
orig_destination_distance,NaN,NaN,NaN,NaN,NaN,NaN,0.414828,0.254987
user_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_mobile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_package,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
channel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
srch_adults_cnt,NaN,NaN,NaN,0.511984,NaN,NaN,NaN,NaN
srch_children_cnt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
srch_rm_cnt,NaN,NaN,0.511984,NaN,NaN,NaN,NaN,NaN
srch_destination_id,NaN,NaN,NaN,NaN,NaN,0.437665,NaN,NaN
srch_destination_type_id,NaN,NaN,NaN,NaN,0.437665,NaN,NaN,NaN
is_booking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cnt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hotel_continent,NaN,0.414828,NaN,NaN,NaN,NaN,NaN,0.298872
hotel_country,0.261031,0.254987,NaN,NaN,NaN,NaN,0.298872,NaN
hotel_market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hotel_cluster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
sig_cols = corr_df_sig1.columns
print sig_cols

Index([u'site_name', u'orig_destination_distance', u'srch_adults_cnt',
       u'srch_rm_cnt', u'srch_destination_id', u'srch_destination_type_id',
       u'hotel_continent', u'hotel_country'],
      dtype='object')

In [31]:
sig_train = pd.concat([train[sig_cols], train['hotel_cluster']], axis=1)
sig_train_n = sig_train.dropna()

In [32]:
sig_train_n

,site_name,orig_destination_distance,srch_adults_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_cluster
0,2,2234.2641,2,1,8250,1,2,50,1
1,2,2234.2641,2,1,8250,1,2,50,1
2,2,2234.2641,2,1,8250,1,2,50,1
3,2,913.1932,2,1,14984,1,2,50,80
4,2,913.6259,2,1,14984,1,2,50,21
5,2,911.5142,2,1,14984,1,2,50,92
12,2,420.6642,2,1,8291,1,2,50,18
14,2,421.8551,2,1,8291,1,2,50,25
15,2,421.8551,2,1,8291,1,2,50,25
16,2,421.8551,2,1,8291,1,2,50,25
17,2,421.8551,2,1,8291,1,2,50,25
24,2,47.7027,2,1,27082,6,2,50,77
25,2,1753.2617,1,1,8250,1,2,50,24
74,2,2716.6746,2,1,8857,1,2,50,28
75,2,2716.5257,2,1,8857,1,2,50,73
76,2,2722.4856,2,1,8857,1,2,50,26
77,2,2716.6746,2,1,8857,1,2,50,28
78,2,2454.8588,3,2,12009,1,2,50,95
79,2,2454.8588,3,2,12009,1,2,50,95
80,2,2454.8588,2,1,12009,1,2,50,95
81,2,2454.8588,2,1,12009,1,2,50,95
82,2,2454.8588,2,1,12009,1,2,50,95
83,2,2454.8588,2,1,12009,1,2,50,95
84,2,2454.8588,3,2,12009,1,2,50,95
85,2,2454.8588,2,1,12009,1,2,50,95
86,2,2454.8588,2,1,12009,1,2,50,95
87,2,2454.8588,4,2,12009,1,2,50,95
88,2,2454.8588,3,2,12009,1,2,50,95
89,2,2454.8588,2,1,12009,1,2,50,95
90,2,2454.8588,2,2,12009,1,2,50,95
...,...,...,...,...,...,...,...,...,...
37670263,34,1181.3053,2,1,12267,6,2,50,8
37670264,34,1181.4133,2,1,12267,6,2,50,91
37670265,34,1184.2432,2,1,12267,6,2,50,95
37670266,34,1181.4133,2,1,12267,6,2,50,91
37670267,34,2024.9563,3,1,45327,6,2,50,70
37670268,34,2024.9016,3,1,45327,6,2,50,70
37670269,34,2024.9274,3,1,45327,6,2,50,56
37670270,34,2024.9634,3,1,45327,6,2,50,70
37670271,34,2025.0021,3,1,45327,6,2,50,98
37670272,2,229.1612,2,1,12206,6,2,50,18
37670273,2,228.9137,1,1,12206,6,2,50,51
37670274,2,113.0804,1,1,24144,6,2,50,7
37670275,2,113.0804,1,1,24144,6,2,50,7
37670276,2,254.2758,1,1,24144,6,2,50,42
37670277,2,254.2758,1,1,24144,6,2,50,42
37670278,2,535.0339,2,1,8273,1,2,50,68
37670279,2,535.0339,1,1,8273,1,2,50,68
37670280,2,535.0339,1,1,8273,1,2,50,68
37670281,2,535.0339,1,1,8273,1,2,50,68
37670282,2,5827.0696,2,1,8808,1,6,169,86
37670283,2,649.6568,1,1,18811,1,2,50,77
37670284,2,654.0284,1,1,18811,1,2,50,51
37670285,2,649.6568,1,1,18811,1,2,50,77
37670286,2,663.3917,1,1,8281,1,2,50,33
37670287,2,677.3041,1,1,12272,6,2,50,40
37670288,2,2348.4075,2,1,8855,1,2,50,26
37670289,2,679.6104,1,1,8281,1,2,50,9
37670290,2,668.1768,1,1,5620,3,2,50,94
37670291,2,106.4274,1,1,18811,1,2,50,42
37670292,2,106.4274,1,1,18811,1,2,50,42

In [35]:
linearRegressionAnalysis(sig_train_n['site_name'], sig_train_n['hotel_country'], sig_train_n['hotel_cluster'])

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                 1.629e+04
Date:                Thu, 26 May 2016   Prob (F-statistic):               0.00
Time:                        15:53:35   Log-Likelihood:            -1.1567e+08
No. Observations:            24145292   AIC:                         2.313e+08
Df Residuals:                24145290   BIC:                         2.313e+08
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         50.4259      0.007   7000.860      0.000        50.412    50.440
x1            -0.0419      0.000   -127.641      0.000        -0.043    -0.041
x2            -0.0419      0.000   -127.641      0.000        -0.043    -0.041
==============================================================================
Omnibus:                 15114888.312   Durbin-Watson:                   1.507
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1351157.740
Skew:                           0.011   Prob(JB):                         0.00
Kurtosis:                       1.841   Cond. No.                     6.20e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.52e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [36]:
linearRegressionAnalysis(sig_train_n['site_name'], sig_train_n['hotel_continent'], sig_train_n['hotel_cluster'])

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                 1.629e+04
Date:                Thu, 26 May 2016   Prob (F-statistic):               0.00
Time:                        15:53:52   Log-Likelihood:            -1.1567e+08
No. Observations:            24145292   AIC:                         2.313e+08
Df Residuals:                24145290   BIC:                         2.313e+08
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         50.4259      0.007   7000.860      0.000        50.412    50.440
x1            -0.0419      0.000   -127.641      0.000        -0.043    -0.041
x2            -0.0419      0.000   -127.641      0.000        -0.043    -0.041
==============================================================================
Omnibus:                 15114888.312   Durbin-Watson:                   1.507
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1351157.740
Skew:                           0.011   Prob(JB):                         0.00
Kurtosis:                       1.841   Cond. No.                     6.20e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.52e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [37]:
linearRegressionAnalysis(sig_train_n['orig_destination_distance'], sig_train_n['hotel_continent'], sig_train_n['hotel_cluster'])

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1273.
Date:                Thu, 26 May 2016   Prob (F-statistic):          9.76e-279
Time:                        15:54:12   Log-Likelihood:            -1.1568e+08
No. Observations:            24145292   AIC:                         2.314e+08
Df Residuals:                24145290   BIC:                         2.314e+08
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         49.7169      0.008   6287.203      0.000        49.701    49.732
x1          4.737e-05   1.33e-06     35.675      0.000      4.48e-05     5e-05
x2          4.737e-05   1.33e-06     35.675      0.000      4.48e-05     5e-05
==============================================================================
Omnibus:                 15172265.867   Durbin-Watson:                   1.506
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1352335.250
Skew:                           0.012   Prob(JB):                         0.00
Kurtosis:                       1.841   Cond. No.                     6.72e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.49e-18. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [38]:
linearRegressionAnalysis(sig_train_n['orig_destination_distance'], sig_train_n['hotel_country'], sig_train_n['hotel_cluster'])

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1273.
Date:                Thu, 26 May 2016   Prob (F-statistic):          9.76e-279
Time:                        15:54:31   Log-Likelihood:            -1.1568e+08
No. Observations:            24145292   AIC:                         2.314e+08
Df Residuals:                24145290   BIC:                         2.314e+08
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         49.7169      0.008   6287.203      0.000        49.701    49.732
x1          4.737e-05   1.33e-06     35.675      0.000      4.48e-05     5e-05
x2          4.737e-05   1.33e-06     35.675      0.000      4.48e-05     5e-05
==============================================================================
Omnibus:                 15172265.867   Durbin-Watson:                   1.506
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1352335.250
Skew:                           0.012   Prob(JB):                         0.00
Kurtosis:                       1.841   Cond. No.                     6.72e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.49e-18. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [39]:
linearRegressionAnalysis(sig_train_n['hotel_continent'], sig_train_n['hotel_country'], sig_train_n['hotel_cluster'])

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     35.55
Date:                Thu, 26 May 2016   Prob (F-statistic):           2.49e-09
Time:                        15:54:48   Log-Likelihood:            -1.1568e+08
No. Observations:            24145292   AIC:                         2.314e+08
Df Residuals:                24145290   BIC:                         2.314e+08
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         49.8352      0.013   3862.784      0.000        49.810    49.861
x1             0.0118      0.002      5.962      0.000         0.008     0.016
x2             0.0118      0.002      5.962      0.000         0.008     0.016
==============================================================================
Omnibus:                 15280401.775   Durbin-Watson:                   1.506
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1354447.952
Skew:                           0.012   Prob(JB):                         0.00
Kurtosis:                       1.840   Cond. No.                     3.19e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.24e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""