In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display

import statsmodels.api as sm

/Users/zhangxinzhou/anaconda/lib/python2.7/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [2]:
pd.options.display.max_columns = None

In [3]:
destinations = pd.read_csv("destinations.csv")
sample_sub = pd.read_csv("sample_submission.csv")
train = pd.read_csv("train.csv", parse_dates=True)
test = pd.read_csv("test.csv", parse_dates=True)

In [4]:
destinations.head()

,srch_destination_id,d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20,d21,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31,d32,d33,d34,d35,d36,d37,d38,d39,d40,d41,d42,d43,d44,d45,d46,d47,d48,d49,d50,d51,d52,d53,d54,d55,d56,d57,d58,d59,d60,d61,d62,d63,d64,d65,d66,d67,d68,d69,d70,d71,d72,d73,d74,d75,d76,d77,d78,d79,d80,d81,d82,d83,d84,d85,d86,d87,d88,d89,d90,d91,d92,d93,d94,d95,d96,d97,d98,d99,d100,d101,d102,d103,d104,d105,d106,d107,d108,d109,d110,d111,d112,d113,d114,d115,d116,d117,d118,d119,d120,d121,d122,d123,d124,d125,d126,d127,d128,d129,d130,d131,d132,d133,d134,d135,d136,d137,d138,d139,d140,d141,d142,d143,d144,d145,d146,d147,d148,d149
0,0,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657
1,1,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.165028,-2.181690,-2.181690,-2.031597,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.043789,-2.181690,-2.181690,-2.181690,-2.165028,-2.181690,-2.133508,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.133508,-2.181690,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.165028,-2.165028,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.133508,-2.181690,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.181690,-2.181690,-2.181690,-2.165028,-2.181690,-2.181690,-2.181690,-2.181690,-2.148982,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.133508,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,-2.133508,-2.181690,-2.181690,-2.181690,-2.148982,-2.181690,-2.181690,-2.181690,-2.181690,-2.148982,-2.181690,-2.181690,-2.165028,-2.181690,-2.165028,-2.181690,-2.181690,-2.165028,-2.181690,-2.181690,-2.181690,-2.181690
2,2,-2.183490,-2.224164,-2.224164,-2.189562,-2.105819,-2.075407,-2.224164,-2.118483,-2.140393,-2.224164,-2.209855,-2.224164,-2.110723,-2.186008,-2.224164,-2.124474,-2.224164,-2.156467,-2.224164,-2.224164,-2.224164,-2.224164,-2.224164,-2.224164,-2.224164,-2.224164,-2.224164,-2.224164,-2.153316,-2.186008,-2.224164,-2.224164,-2.224164,-2.128237,-2.158309,-2.059716,-1.910270,-2.224164,-2.123050,-2.224164,-2.154047,-2.197327,-1.945461,-2.224164,-2.224164,-2.197327,-2.166886,-2.192009,-1.903782,-2.224164,-2.189562,-2.224164,-2.083104,-2.224164,-2.070096,-2.157745,-2.196379,-2.069813,-2.224164,-2.224164,-2.072953,-2.224164,-2.224164,-2.224164,-2.224164,-2.140393,-2.224164,-2.224164,-2.096550,-2.224164,-2.187529,-2.224164,-2.224164,-2.098667,-2.016373,-2.224164,-2.126123,-2.189562,-2.008317,-2.085827,-2.224164,-2.224164,-2.224164,-2.218361,-2.219342,-2.224164,-2.224164,-2.160492,-2.224164,-2.224164,-2.076796,-2.224164,-1.975081,-2.166149,-2.224164,-2.224164,-2.224164,-2.224164,-2.224164,-2.163748,-2.224164,-2.072359,-2.100277,-2.224164,-2.203533,-2.224164,-2.224164,-2.094364,-2.224164,-2.140393,-2.224164,-2.164722,-2.224164,-2.154997,-2.197327,-2.224164,-2.197327,-2.224164,-2.224164,-2.197327,-2.187005,-2.026263,-2.224164,-2.224164,-2.224164,-2.223818,-2.224164,-2.049280,-2.189562,-2.118483,-2.145558,-2.117811,-2.224164,-2.180182,-2.224164,-2.224164,-2.214572,-2.186008,-2.191569,-2.224164,-2.224164,-2.196379,-2.224164,-2.192009,-2.224164,-2.224164,-2.224164,-2.224164,-2.057548
3,3,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.115485,-2.177409,-2.177409,-2.177409,-2.177409,-2.161081,-2.177409,-2.177409,-2.177409,-2.177409,-2.130158,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.101291,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.145344,-2.177409,-2.177409,-2.177409,-2.145344,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.101291,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.161081,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.115485,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.161081,-2.177409,-2.177409,-2.161081,-2.130158,-2.177409,-2.177409,-2.177409,-2.177409,-2.115485,-2.177409,-2.161081,-2.161081,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409
4,4,-2.189562,-2.187783,-2.194008,-2.171153,-2.152303,-2.056618,-2.194008,-2.194008,-2.145911,-2.194008,-2.089094,-2.194008,-2.155205,-2.070995,-2.194008,-2.074964,-2.185526,-2.194008,-2.189562,-2.191779,-2.185032,-2.150215,-2.194008,-2.189233,-2.194008,-2.191631,-2.146025,-2.194008,-2.130263,-2.177813,-2.194008,-2.159651,-2.194008,-2.170700,-2.194008,-2.194008,-1.946523,-2.191779,-2.194008,-2.172218,-2.188901,-2.194008,-2.109317,-2.181161,-2.175595,-2.194008,-2.180677,-2.194008,-2.092435,-2.194008,-2.172544,-2.194008,-2.145418,-2.194008,-2.115699,-2.120789,-2.188037,-2.149211,-2.194008,-2.194008,-2.191779,-2.194008,-2.185032,-2.194008,-2.194008,-2.169871,-2.194008,-2.194008,-2.167989,-2.194008,-2.158422,-2.194008,-2.191779,-2.174543,-2.180712,-2.177944,-2.188901,-2.165486,-2.191779,-2.145961,-2.194008,-2.187356,-2.169871,-2.191715,-2.191110,-2.194008,-2.194008,-2.176134,-2.194008,-2.194008,-2.194008,-2.194008,-1.964288,-2.176791,-2.191779,-2.191779,-2.189562,-2.194008,-2.194008,-2.194008,-2.165889,-2.194008,-2.145988,-2.194008,-2.194008,-2.191779,-2.194008,-2.097420,-2.194008,-2.180027,-2.194008,-2.194008,-2.194008,-2.194008,-2.191779,-2.194008,-2.194008,-2.194008,-2.194008,-2.194008,-2.152740,-2.139178,-2.194008,-2.182305,-2.194008,-2.194008,-2.194008,-2.157163,-2.194008,-2.174454,-2.139365,-2.099302,-2.194008,-2.194008,-2.194008,-2.194008,-2.151470,-2.194008,-2.163242,-2.187356,-2.194008,-2.191779,-2.194008,-2.194008,-2.185161,-2.194008,-2.194008,-2.194008,-2.188037

In [5]:
sample_sub.head()

   id hotel_cluster
0   0          99 1
1   1          99 1
2   2          99 1
3   3          99 1
4   4          99 1

In [6]:
train.columns

Index([u'date_time', u'site_name', u'posa_continent', u'user_location_country',
       u'user_location_region', u'user_location_city',
       u'orig_destination_distance', u'user_id', u'is_mobile', u'is_package',
       u'channel', u'srch_ci', u'srch_co', u'srch_adults_cnt',
       u'srch_children_cnt', u'srch_rm_cnt', u'srch_destination_id',
       u'srch_destination_type_id', u'is_booking', u'cnt', u'hotel_continent',
       u'hotel_country', u'hotel_market', u'hotel_cluster'],
      dtype='object')

In [7]:
train = train.sample(frac=.1)
display (train.head())
cri = train['srch_ci'].str.contains('255', na=False)
train = train[~cri]

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
25446722,2014-07-08 05:09:30,18,2,119,0,27731,NaN,1131205,0,0,0,2014-10-07,2014-10-13,2,0,1,8744,1,0,1,3,106,108,6
37292595,2014-07-24 04:36:45,2,3,66,226,16427,NaN,1058262,0,0,9,2014-10-22,2014-10-23,2,0,1,23104,6,0,1,6,70,1908,62
34973845,2014-06-15 03:35:44,46,2,167,47,48840,NaN,778728,0,1,9,2014-10-24,2014-10-29,2,0,1,11815,1,0,3,3,5,1701,61
27821890,2013-09-30 08:28:44,27,2,167,51,11261,NaN,945578,0,1,2,2013-10-05,2013-10-05,2,0,1,8747,1,0,1,3,106,107,62
12057394,2014-12-21 12:37:24,2,3,66,174,24103,65.765,654110,1,0,9,2014-12-24,2014-12-25,1,0,1,5228,3,0,2,2,50,970,16

In [8]:
pd.to_datetime(train['date_time'], format='%Y-%m-%d %H:%M:%S')
pd.to_datetime(train['srch_ci'], format='%Y-%m-%d')
pd.to_datetime(train['srch_co'], format='%Y-%m-%d')

25446722   2014-10-13
37292595   2014-10-23
34973845   2014-10-29
27821890   2013-10-05
12057394   2014-12-25
19302012   2014-04-04
20197322   2014-11-17
12630012   2014-06-19
6053804    2014-07-10
6334442    2014-09-09
6072611    2014-09-06
6126375    2014-10-14
15977838   2014-02-08
30061869   2013-03-07
19338683   2015-01-04
15492732   2014-05-11
34939523   2014-04-28
6308694    2014-07-18
35377710   2014-06-19
11044060   2014-09-13
10662288   2015-03-19
14496780   2014-05-14
23046198   2014-03-10
24787045   2014-11-29
31581601   2013-04-27
14832535   2013-11-11
3379144    2014-11-11
5934393    2014-09-29
30001719   2015-03-12
19644969   2013-08-18
              ...
18882309   2015-04-19
14895630   2014-04-27
2530395    2014-05-06
4742990    2014-07-19
2676093    2014-06-23
26262969   2014-09-12
26146865   2014-02-22
31983668   2013-10-12
4277823    2015-02-07
5975754    2014-08-18
6090349    2014-05-14
24754241   2013-03-10
22918362   2013-09-22
9725387    2014-08-08
4070427    2014-12-01
15853658   2014-04-25
3651937    2014-03-15
11487371   2014-10-30
5350276    2014-05-27
9993368    2014-04-08
18659192   2013-02-23
20304802   2014-04-08
32384066   2014-10-12
35672278   2013-02-22
19857572   2013-07-14
10315900   2014-06-06
18271778   2014-04-19
18615490   2015-01-06
13988420   2014-09-28
4660094    2014-01-10
Name: srch_co, dtype: datetime64[ns]

In [9]:
train.describe()

/Users/zhangxinzhou/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3823: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
count,3.767028e+06,3.767028e+06,3.767028e+06,3.767028e+06,3.767028e+06,2.415446e+06,3.767028e+06,3.767028e+06,3.767028e+06,3.767028e+06,3.767028e+06,3.767028e+06,3.767028e+06,3.767028e+06,3.767028e+06,3.767028e+06,3.767028e+06,3.767028e+06,3.767028e+06,3.767028e+06,3.767028e+06
mean,9.790209e+00,2.680626e+00,8.613532e+01,3.083073e+02,2.775007e+04,1.972102e+03,6.045080e+05,1.347805e-01,2.489719e-01,5.871749e+00,2.025056e+00,3.317809e-01,1.113123e+00,1.444148e+04,2.581171e+00,7.942415e-02,1.483258e+00,3.157051e+00,8.130893e+01,6.002462e+02,4.981715e+01
std,1.196216e+01,7.483382e-01,5.926224e+01,2.083989e+02,1.678949e+04,2.233887e+03,3.505364e+05,3.414890e-01,4.324175e-01,3.716683e+00,9.122850e-01,7.307502e-01,4.603654e-01,1.106661e+04,2.152281e+00,2.703997e-01,1.229899e+00,1.623718e+00,5.618295e+01,5.117597e+02,2.891179e+01
min,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.600000e-03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.000000e+00,6.600000e+01,1.740000e+02,1.297500e+04,NaN,2.990448e+05,0.000000e+00,0.000000e+00,2.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,8.267000e+03,1.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,5.000000e+01,1.590000e+02,2.500000e+01
50%,2.000000e+00,3.000000e+00,6.600000e+01,3.140000e+02,2.765500e+04,NaN,6.039090e+05,0.000000e+00,0.000000e+00,9.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,9.147000e+03,1.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,5.000000e+01,5.930000e+02,4.900000e+01
75%,1.400000e+01,3.000000e+00,7.000000e+01,3.850000e+02,4.249125e+04,NaN,9.101515e+05,0.000000e+00,0.000000e+00,9.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,1.879000e+04,5.000000e+00,0.000000e+00,2.000000e+00,4.000000e+00,1.060000e+02,7.010000e+02,7.300000e+01
max,5.300000e+01,4.000000e+00,2.390000e+02,1.027000e+03,5.650700e+04,1.228048e+04,1.198783e+06,1.000000e+00,1.000000e+00,1.000000e+01,9.000000e+00,9.000000e+00,8.000000e+00,6.506800e+04,9.000000e+00,1.000000e+00,2.450000e+02,6.000000e+00,2.120000e+02,2.117000e+03,9.900000e+01

In [10]:
cnt_columns = [col for col in train.columns if 'cnt' in col]
train[cnt_columns]

          srch_adults_cnt  srch_children_cnt  srch_rm_cnt  cnt
25446722                2                  0            1    1
37292595                2                  0            1    1
34973845                2                  0            1    3
27821890                2                  0            1    1
12057394                1                  0            1    2
19302012                6                  0            1    1
20197322                3                  0            1    1
12630012                2                  2            1    1
6053804                 2                  0            1    1
6334442                 2                  0            1    1
6072611                 2                  0            1    4
6126375                 2                  0            1    1
15977838                2                  0            1    2
30061869                1                  0            1    3
19338683                2                  0            1    1
15492732                6                  3            2    1
34939523                2                  0            1    1
6308694                 2                  0            1    1
35377710                1                  0            1    1
11044060                2                  0            1    2
10662288                2                  2            1    1
14496780                2                  0            1    1
23046198                2                  0            1    1
24787045                2                  3            1    2
31581601                2                  2            1    1
14832535                2                  0            1    5
3379144                 2                  0            1    1
5934393                 2                  0            1    6
30001719                2                  0            1    1
19644969                2                  0            1    3
...                   ...                ...          ...  ...
18882309                2                  0            1    1
14895630                1                  0            1    1
2530395                 1                  0            1    1
4742990                 2                  0            2    2
2676093                 2                  2            1    2
26262969                2                  0            1    1
26146865                2                  0            1    1
31983668                3                  0            2    2
4277823                 4                  0            2    1
5975754                 2                  1            1    1
6090349                 2                  2            1    2
24754241                2                  0            1    5
22918362                2                  0            2    2
9725387                 2                  4            1    1
4070427                 2                  0            1    1
15853658                2                  0            1    3
3651937                 2                  0            1    1
11487371                2                  0            1    2
5350276                 2                  0            1    1
9993368                 2                  0            1    2
18659192                3                  1            2    1
20304802                1                  0            1    1
32384066                1                  0            1    1
35672278                2                  0            1    1
19857572                2                  0            1    1
10315900                2                  0            1    1
18271778                2                  2            1    1
18615490                1                  0            1    1
13988420                4                  2            2    1
4660094                 2                  0            1    1

[3767028 rows x 4 columns]

In [11]:
srch_cols = [col for col in train.columns if 'srch' in col]
train[srch_cols]

,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id
25446722,2014-10-07,2014-10-13,2,0,1,8744,1
37292595,2014-10-22,2014-10-23,2,0,1,23104,6
34973845,2014-10-24,2014-10-29,2,0,1,11815,1
27821890,2013-10-05,2013-10-05,2,0,1,8747,1
12057394,2014-12-24,2014-12-25,1,0,1,5228,3
19302012,2014-04-03,2014-04-04,6,0,1,59679,6
20197322,2014-11-15,2014-11-17,3,0,1,7509,6
12630012,2014-06-13,2014-06-19,2,2,1,8253,1
6053804,2014-07-08,2014-07-10,2,0,1,8223,1
6334442,2014-09-06,2014-09-09,2,0,1,11815,1
6072611,2014-09-03,2014-09-06,2,0,1,8788,1
6126375,2014-10-13,2014-10-14,2,0,1,3448,3
15977838,2014-02-01,2014-02-08,2,0,1,11372,1
30061869,2013-03-04,2013-03-07,1,0,1,37771,3
19338683,2015-01-03,2015-01-04,2,0,1,25944,6
15492732,2014-05-08,2014-05-11,6,3,2,11318,1
34939523,2014-04-27,2014-04-28,2,0,1,12372,5
6308694,2014-07-10,2014-07-18,2,0,1,1725,1
35377710,2014-06-18,2014-06-19,1,0,1,20479,6
11044060,2014-09-10,2014-09-13,2,0,1,8250,1
10662288,2015-03-14,2015-03-19,2,2,1,12846,5
14496780,2014-05-13,2014-05-14,2,0,1,33496,1
23046198,2014-03-08,2014-03-10,2,0,1,8288,1
24787045,2014-11-26,2014-11-29,2,3,1,8791,1
31581601,2013-04-13,2013-04-27,2,2,1,8745,1
14832535,2013-11-07,2013-11-11,2,0,1,8250,1
3379144,2014-11-01,2014-11-11,2,0,1,1014,1
5934393,2014-09-27,2014-09-29,2,0,1,12233,6
30001719,2015-03-05,2015-03-12,2,0,1,8864,1
19644969,2013-08-16,2013-08-18,2,0,1,4819,3
...,...,...,...,...,...,...,...
18882309,2015-04-15,2015-04-19,2,0,1,11439,1
14895630,2014-04-26,2014-04-27,1,0,1,48157,6
2530395,2014-05-03,2014-05-06,1,0,1,23682,6
4742990,2014-07-17,2014-07-19,2,0,2,21657,6
2676093,2014-06-21,2014-06-23,2,2,1,26987,6
26262969,2014-09-08,2014-09-12,2,0,1,3072,3
26146865,2014-02-18,2014-02-22,2,0,1,9147,1
31983668,2013-10-11,2013-10-12,3,0,2,11989,1
4277823,2015-01-30,2015-02-07,4,0,2,12206,6
5975754,2014-08-14,2014-08-18,2,1,1,8267,1
6090349,2014-05-07,2014-05-14,2,2,1,8824,1
24754241,2013-03-04,2013-03-10,2,0,1,40808,4
22918362,2013-09-21,2013-09-22,2,0,2,12191,6
9725387,2014-08-03,2014-08-08,2,4,1,11353,1
4070427,2014-11-27,2014-12-01,2,0,1,8225,1
15853658,2014-04-17,2014-04-25,2,0,1,12321,5
3651937,2014-03-13,2014-03-15,2,0,1,8279,1
11487371,2014-10-29,2014-10-30,2,0,1,8278,1
5350276,2014-05-26,2014-05-27,2,0,1,20688,6
9993368,2014-04-06,2014-04-08,2,0,1,635,1
18659192,2013-02-18,2013-02-23,3,1,2,8259,1
20304802,2014-04-06,2014-04-08,1,0,1,8267,1
32384066,2014-10-08,2014-10-12,1,0,1,8788,1
35672278,2013-02-21,2013-02-22,2,0,1,14804,1
19857572,2013-07-12,2013-07-14,2,0,1,8740,1
10315900,2014-06-06,2014-06-06,2,0,1,27211,1
18271778,2014-04-17,2014-04-19,2,2,1,12261,6
18615490,2015-01-05,2015-01-06,1,0,1,8250,1
13988420,2014-09-26,2014-09-28,4,2,2,1901,1
4660094,2014-01-09,2014-01-10,2,0,1,9147,1

In [12]:
hotel_cols = [col for col in train.columns if 'hotel' in col]
train[hotel_cols]

          hotel_continent  hotel_country  hotel_market  hotel_cluster
25446722                3            106           108              6
37292595                6             70          1908             62
34973845                3              5          1701             61
27821890                3            106           107             62
12057394                2             50           970             16
19302012                2             50           447             48
20197322                2             50           191             33
12630012                6             70            19             98
6053804                 2             50           690             70
6334442                 3              5          1701             93
6072611                 6             77             2             64
6126375                 2             50           582             54
15977838                4            121           199             52
30061869                0             34            94             58
19338683                2            198           370             55
15492732                2             50          1442              4
34939523                2             50           690              9
6308694                 3            182          1493             78
35377710                3            182            46             81
11044060                2             50           628              1
10662288                2             50           366             40
14496780                6             70           768             89
23046198                2            198           399             41
24787045                4              8           110             96
31581601                6            204            27             58
14832535                2             50           628             24
3379144                 3             92           168             26
5934393                 2             50           675             98
30001719                4             47          1508             73
19644969                2             50           365             72
...                   ...            ...           ...            ...
18882309                4            163          1503             65
14895630                3            126           232             81
2530395                 2             50           659              6
4742990                 6              7             8             13
2676093                 2             50           590             50
26262969                2             50           366             31
26146865                2             50           367             71
31983668                2             50           511             91
4277823                 2             50           628             79
5975754                 2             50           675             70
6090349                 4              8           118             44
24754241                3            182            83             59
22918362                2             50           637             98
9725387                 2             50           699             72
4070427                 4            124          1939             44
15853658                4             96           201             52
3651937                 2             50          1230             95
11487371                2             50           368             55
5350276                 6            204          1477              5
9993368                 3            162          1039             64
18659192                4              8           121             21
20304802                2             50           675             97
32384066                6             77             2             13
35672278                6             77           774             46
19857572                6            105            12             97
10315900                6            105          1409             22
18271778                2             50           412             95
18615490                2             50           628             94
13988420                2            198           401             68
4660094                 2             50           367             34

[3767028 rows x 4 columns]

In [13]:
bool_col = [col for col in train.columns if 'is_' in col]
train[bool_col]

          is_mobile  is_package  is_booking
25446722          0           0           0
37292595          0           0           0
34973845          0           1           0
27821890          0           1           0
12057394          1           0           0
19302012          0           0           0
20197322          0           0           0
12630012          0           0           0
6053804           0           0           0
6334442           0           0           0
6072611           0           1           0
6126375           0           0           0
15977838          0           0           0
30061869          1           0           0
19338683          0           0           0
15492732          0           0           0
34939523          0           0           0
6308694           0           1           0
35377710          0           0           1
11044060          1           0           0
10662288          1           1           0
14496780          1           0           0
23046198          0           0           0
24787045          0           1           0
31581601          0           0           0
14832535          0           1           0
3379144           0           0           0
5934393           0           0           0
30001719          1           1           0
19644969          0           0           0
...             ...         ...         ...
18882309          0           1           0
14895630          0           0           0
2530395           0           0           1
4742990           0           0           0
2676093           1           1           0
26262969          1           0           0
26146865          0           0           0
31983668          0           0           0
4277823           0           0           0
5975754           0           0           0
6090349           0           1           0
24754241          0           0           0
22918362          0           0           0
9725387           0           0           0
4070427           0           0           0
15853658          1           0           0
3651937           0           0           0
11487371          0           0           0
5350276           0           0           1
9993368           0           0           0
18659192          0           0           0
20304802          1           1           0
32384066          0           0           0
35672278          0           1           0
19857572          1           0           0
10315900          0           1           0
18271778          0           0           0
18615490          0           1           0
13988420          0           0           0
4660094           0           0           0

[3767028 rows x 3 columns]

In [14]:
'''box_plot = train.boxplot(figsize=(40,120))
plt.savefig("box_plot")

hist_plot = train.hist(figsize=(60,60))
plt.savefig("hist_plot")

sm = pd.scatter_matrix(train, diagonal='kde', figsize=(80,80))
plt.savefig('scatter_matrix')'''

'box_plot = train.boxplot(figsize=(40,120))\nplt.savefig("box_plot")\n\nhist_plot = train.hist(figsize=(60,60))\nplt.savefig("hist_plot")\n\nsm = pd.scatter_matrix(train, diagonal=\'kde\', figsize=(80,80))\nplt.savefig(\'scatter_matrix\')'

In [15]:
corr_df = train.corr()
display(corr_df)

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
site_name,1.000000,-0.634779,0.166551,0.127497,-0.016689,0.030144,0.024571,-0.007285,0.051603,-0.029779,-0.008767,-0.031659,0.015828,0.029226,-0.010749,-0.010893,0.019249,0.202285,0.261253,-0.067320,-0.021168
posa_continent,-0.634779,1.000000,0.175291,-0.027367,0.039614,0.048235,-0.011694,0.016211,-0.093946,0.091805,0.008392,0.033690,-0.031151,-0.012595,0.042672,0.010132,-0.014523,-0.332669,-0.156484,0.051726,0.012914
user_location_country,0.166551,0.175291,1.000000,0.055061,0.123013,0.047048,-0.023410,0.003513,-0.025828,0.105751,0.038043,0.037045,0.001022,0.009507,0.031320,0.007290,0.002800,-0.067293,0.094987,0.019344,-0.010029
user_location_region,0.127497,-0.027367,0.055061,1.000000,0.129795,0.139288,-0.001789,0.017434,0.038094,-0.000217,0.008655,0.012133,-0.000428,0.021993,0.009635,0.006336,-0.008650,0.045256,-0.055373,0.044577,0.008116
user_location_city,-0.016689,0.039614,0.123013,0.129795,1.000000,0.012992,-0.006755,0.002390,0.013163,0.025867,0.008034,0.009200,0.000104,0.001963,0.000351,0.001736,-0.000306,0.005621,-0.009947,0.009010,0.000877
orig_destination_distance,0.030144,0.048235,0.047048,0.139288,0.012992,1.000000,0.013810,-0.055609,0.037829,0.001915,-0.023249,-0.061817,-0.006399,-0.029009,-0.040589,-0.036983,0.010147,0.415210,0.255626,-0.088005,0.007104
user_id,0.024571,-0.011694,-0.023410,-0.001789,-0.006755,0.013810,1.000000,-0.006027,-0.011564,-0.001740,-0.004105,-0.000059,0.001374,0.002864,0.004851,0.000832,-0.001129,0.003980,0.009103,-0.004049,0.001628
is_mobile,-0.007285,0.016211,0.003513,0.017434,0.002390,-0.055609,-0.006027,1.000000,0.054227,-0.032963,0.018693,0.021685,-0.022384,-0.008643,-0.018011,-0.031084,0.005437,-0.021138,-0.025719,0.007701,0.008430
is_package,0.051603,-0.093946,-0.025828,0.038094,0.013163,0.037829,-0.011564,0.054227,1.000000,-0.010568,-0.023614,-0.033964,-0.038816,-0.147389,-0.228026,-0.076664,0.125654,0.111378,-0.038437,-0.016002,0.038816
channel,-0.029779,0.091805,0.105751,-0.000217,0.025867,0.001915,-0.001740,-0.032963,-0.010568,1.000000,-0.021973,0.006790,0.007268,0.001753,0.027530,0.024057,-0.011938,-0.021532,-0.002279,0.006009,0.000749
srch_adults_cnt,-0.008767,0.008392,0.038043,0.008655,0.008034,-0.023249,-0.004105,0.018693,-0.023614,-0.021973,1.000000,0.109135,0.511111,0.003663,-0.009795,-0.048001,0.014814,-0.016405,-0.020034,0.006798,0.012657
srch_children_cnt,-0.031659,0.033690,0.037045,0.012133,0.009200,-0.061817,-0.000059,0.021685,-0.033964,0.006790,0.109135,1.000000,0.089729,-0.007784,-0.008328,-0.021757,0.016707,-0.058112,-0.043988,0.002205,0.016897
srch_rm_cnt,0.015828,-0.031151,0.001022,-0.000428,0.000104,-0.006399,0.001374,-0.022384,-0.038816,0.007268,0.511111,0.089729,1.000000,0.012249,0.011954,0.011774,0.000405,0.017324,0.008035,0.000845,-0.006265
srch_destination_id,0.029226,-0.012595,0.009507,0.021993,0.001963,-0.029009,0.002864,-0.008643,-0.147389,0.001753,0.003663,-0.007784,0.012249,1.000000,0.437298,0.024921,-0.021810,0.027365,0.053922,0.084046,-0.010337
srch_destination_type_id,-0.010749,0.042672,0.031320,0.009635,0.000351,-0.040589,0.004851,-0.018011,-0.228026,0.027530,-0.009795,-0.008328,0.011954,0.437298,1.000000,0.039994,-0.025548,-0.038696,-0.022525,0.032317,-0.032892
is_booking,-0.010893,0.010132,0.007290,0.006336,0.001736,-0.036983,0.000832,-0.031084,-0.076664,0.024057,-0.048001,-0.021757,0.011774,0.024921,0.039994,1.000000,-0.111682,-0.026831,-0.004041,0.010967,-0.020466
cnt,0.019249,-0.014523,0.002800,-0.008650,-0.000306,0.010147,-0.001129,0.005437,0.125654,-0.011938,0.014814,0.016707,0.000405,-0.021810,-0.025548,-0.111682,1.000000,0.017491,-0.001492,-0.010860,0.003026
hotel_continent,0.202285,-0.332669,-0.067293,0.045256,0.005621,0.415210,0.003980,-0.021138,0.111378,-0.021532,-0.016405,-0.058112,0.017324,0.027365,-0.038696,-0.026831,0.017491,1.000000,0.299645,-0.092548,-0.013501
hotel_country,0.261253,-0.156484,0.094987,-0.055373,-0.009947,0.255626,0.009103,-0.025719,-0.038437,-0.002279,-0.020034,-0.043988,0.008035,0.053922,-0.022525,-0.004041,-0.001492,0.299645,1.000000,0.020542,-0.024272
hotel_market,-0.067320,0.051726,0.019344,0.044577,0.009010,-0.088005,-0.004049,0.007701,-0.016002,0.006009,0.006798,0.002205,0.000845,0.084046,0.032317,0.010967,-0.010860,-0.092548,0.020542,1.000000,0.034375
hotel_cluster,-0.021168,0.012914,-0.010029,0.008116,0.000877,0.007104,0.001628,0.008430,0.038816,0.000749,0.012657,0.016897,-0.006265,-0.010337,-0.032892,-0.020466,0.003026,-0.013501,-0.024272,0.034375,1.000000

In [16]:
corr_df.to_csv("corr_df.csv")

In [17]:
corr_df_sig = corr_df[(corr_df>.4) & (corr_df<1)]
corr_df_sig.dropna(how='all', axis=1, inplace=True)
display(corr_df_sig)

,orig_destination_distance,srch_adults_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent
site_name,NaN,NaN,NaN,NaN,NaN,NaN
posa_continent,NaN,NaN,NaN,NaN,NaN,NaN
user_location_country,NaN,NaN,NaN,NaN,NaN,NaN
user_location_region,NaN,NaN,NaN,NaN,NaN,NaN
user_location_city,NaN,NaN,NaN,NaN,NaN,NaN
orig_destination_distance,NaN,NaN,NaN,NaN,NaN,0.41521
user_id,NaN,NaN,NaN,NaN,NaN,NaN
is_mobile,NaN,NaN,NaN,NaN,NaN,NaN
is_package,NaN,NaN,NaN,NaN,NaN,NaN
channel,NaN,NaN,NaN,NaN,NaN,NaN
srch_adults_cnt,NaN,NaN,0.511111,NaN,NaN,NaN
srch_children_cnt,NaN,NaN,NaN,NaN,NaN,NaN
srch_rm_cnt,NaN,0.511111,NaN,NaN,NaN,NaN
srch_destination_id,NaN,NaN,NaN,NaN,0.437298,NaN
srch_destination_type_id,NaN,NaN,NaN,0.437298,NaN,NaN
is_booking,NaN,NaN,NaN,NaN,NaN,NaN
cnt,NaN,NaN,NaN,NaN,NaN,NaN
hotel_continent,0.41521,NaN,NaN,NaN,NaN,NaN
hotel_country,NaN,NaN,NaN,NaN,NaN,NaN
hotel_market,NaN,NaN,NaN,NaN,NaN,NaN
hotel_cluster,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
sig_cols = corr_df_sig.columns
print sig_cols

Index([u'orig_destination_distance', u'srch_adults_cnt', u'srch_rm_cnt',
       u'srch_destination_id', u'srch_destination_type_id',
       u'hotel_continent'],
      dtype='object')

In [19]:
train[sig_cols]

,orig_destination_distance,srch_adults_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent
25446722,NaN,2,1,8744,1,3
37292595,NaN,2,1,23104,6,6
34973845,NaN,2,1,11815,1,3
27821890,NaN,2,1,8747,1,3
12057394,65.7650,1,1,5228,3,2
19302012,NaN,6,1,59679,6,2
20197322,193.0748,3,1,7509,6,2
12630012,5370.7853,2,1,8253,1,6
6053804,452.2939,2,1,8223,1,2
6334442,NaN,2,1,11815,1,3
6072611,NaN,2,1,8788,1,6
6126375,51.5502,2,1,3448,3,2
15977838,1456.0842,2,1,11372,1,4
30061869,NaN,1,1,37771,3,0
19338683,65.3644,2,1,25944,6,2
15492732,228.5113,6,2,11318,1,2
34939523,2597.8709,2,1,12372,5,2
6308694,NaN,2,1,1725,1,3
35377710,NaN,1,1,20479,6,3
11044060,219.3780,2,1,8250,1,2
10662288,843.1781,2,1,12846,5,2
14496780,NaN,2,1,33496,1,6
23046198,17.3280,2,1,8288,1,2
24787045,1435.8861,2,1,8791,1,4
31581601,NaN,2,1,8745,1,6
14832535,1092.9153,2,1,8250,1,2
3379144,3336.9485,2,1,1014,1,3
5934393,660.1162,2,1,12233,6,2
30001719,1475.4333,2,1,8864,1,4
19644969,58.9779,2,1,4819,3,2
...,...,...,...,...,...,...
18882309,1843.4234,2,1,11439,1,4
14895630,NaN,1,1,48157,6,3
2530395,1773.1564,1,1,23682,6,2
4742990,NaN,2,2,21657,6,6
2676093,247.9643,2,1,26987,6,2
26262969,446.6585,2,1,3072,3,2
26146865,6135.8646,2,1,9147,1,2
31983668,623.0513,3,2,11989,1,2
4277823,8167.1983,4,2,12206,6,2
5975754,3998.2278,2,1,8267,1,2
6090349,964.7422,2,1,8824,1,4
24754241,NaN,2,1,40808,4,3
22918362,595.3425,2,2,12191,6,2
9725387,NaN,2,1,11353,1,2
4070427,7340.4573,2,1,8225,1,4
15853658,3871.5057,2,1,12321,5,4
3651937,359.9735,2,1,8279,1,2
11487371,NaN,2,1,8278,1,2
5350276,NaN,2,1,20688,6,6
9993368,NaN,2,1,635,1,3
18659192,1551.3375,3,2,8259,1,4
20304802,1424.2962,1,1,8267,1,2
32384066,NaN,1,1,8788,1,6
35672278,NaN,2,1,14804,1,6
19857572,5424.1125,2,1,8740,1,6
10315900,NaN,2,1,27211,1,6
18271778,NaN,2,1,12261,6,2
18615490,869.2253,1,1,8250,1,2
13988420,85.9045,4,2,1901,1,2
4660094,110.5006,2,1,9147,1,2

In [20]:
train['hotel_cluster']

25446722     6
37292595    62
34973845    61
27821890    62
12057394    16
19302012    48
20197322    33
12630012    98
6053804     70
6334442     93
6072611     64
6126375     54
15977838    52
30061869    58
19338683    55
15492732     4
34939523     9
6308694     78
35377710    81
11044060     1
10662288    40
14496780    89
23046198    41
24787045    96
31581601    58
14832535    24
3379144     26
5934393     98
30001719    73
19644969    72
            ..
18882309    65
14895630    81
2530395      6
4742990     13
2676093     50
26262969    31
26146865    71
31983668    91
4277823     79
5975754     70
6090349     44
24754241    59
22918362    98
9725387     72
4070427     44
15853658    52
3651937     95
11487371    55
5350276      5
9993368     64
18659192    21
20304802    97
32384066    13
35672278    46
19857572    97
10315900    22
18271778    95
18615490    94
13988420    68
4660094     34
Name: hotel_cluster, dtype: int64

In [21]:
sig_train = pd.concat([train[sig_cols], train['hotel_cluster']], axis=1)
sig_train_n = sig_train.dropna()

In [22]:
display(sig_train_n)

,orig_destination_distance,srch_adults_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_cluster
12057394,65.7650,1,1,5228,3,2,16
20197322,193.0748,3,1,7509,6,2,33
12630012,5370.7853,2,1,8253,1,6,98
6053804,452.2939,2,1,8223,1,2,70
6126375,51.5502,2,1,3448,3,2,54
15977838,1456.0842,2,1,11372,1,4,52
19338683,65.3644,2,1,25944,6,2,55
15492732,228.5113,6,2,11318,1,2,4
34939523,2597.8709,2,1,12372,5,2,9
11044060,219.3780,2,1,8250,1,2,1
10662288,843.1781,2,1,12846,5,2,40
23046198,17.3280,2,1,8288,1,2,41
24787045,1435.8861,2,1,8791,1,4,96
14832535,1092.9153,2,1,8250,1,2,24
3379144,3336.9485,2,1,1014,1,3,26
5934393,660.1162,2,1,12233,6,2,98
30001719,1475.4333,2,1,8864,1,4,73
19644969,58.9779,2,1,4819,3,2,72
25300189,2151.9323,2,1,12257,6,4,40
20634372,1452.6746,2,1,44045,3,2,41
15659250,6085.1123,2,1,8245,1,6,36
7363824,5198.7625,2,1,8744,1,3,25
14976570,516.2792,2,1,15093,1,2,91
803745,1910.0761,2,1,8260,1,2,83
1484343,270.3453,2,1,16704,5,2,91
33591435,74.3325,3,1,8834,1,2,14
12920805,2135.6281,4,2,8268,1,2,18
26010086,1555.1746,2,1,8791,1,4,52
18609817,2178.9910,2,1,8791,1,4,66
30981176,2.7586,2,1,8274,1,2,33
...,...,...,...,...,...,...,...
9786586,1224.3872,4,1,12495,5,2,42
34239875,1496.6522,1,1,8244,1,2,28
1928295,1380.1140,2,1,8250,1,2,79
35680778,3.9753,1,1,18055,1,2,42
2042866,592.2081,2,1,58409,4,6,82
31025737,1237.7092,2,1,12227,6,2,90
18613560,619.3890,2,1,53920,3,6,28
12459365,1074.3370,2,1,8268,1,2,92
31697553,435.8165,2,1,12364,5,2,98
33817337,0.1600,1,1,12270,6,2,56
5073740,0.4915,2,1,25859,1,2,14
18882309,1843.4234,2,1,11439,1,4,65
2530395,1773.1564,1,1,23682,6,2,6
2676093,247.9643,2,1,26987,6,2,50
26262969,446.6585,2,1,3072,3,2,31
26146865,6135.8646,2,1,9147,1,2,71
31983668,623.0513,3,2,11989,1,2,91
4277823,8167.1983,4,2,12206,6,2,79
5975754,3998.2278,2,1,8267,1,2,70
6090349,964.7422,2,1,8824,1,4,44
22918362,595.3425,2,2,12191,6,2,98
4070427,7340.4573,2,1,8225,1,4,44
15853658,3871.5057,2,1,12321,5,4,52
3651937,359.9735,2,1,8279,1,2,95
18659192,1551.3375,3,2,8259,1,4,21
20304802,1424.2962,1,1,8267,1,2,97
19857572,5424.1125,2,1,8740,1,6,97
18615490,869.2253,1,1,8250,1,2,94
13988420,85.9045,4,2,1901,1,2,68
4660094,110.5006,2,1,9147,1,2,34

In [23]:
def linearRegressionAnalysis(x1_df, x2_df, y_df):

    y = np.matrix(y_df).transpose()
    x1 = np.matrix(x1_df).transpose()
    x2 = np.matrix(x2_df).transpose()
    x = np.column_stack([x1, x1])

    X = sm.add_constant(x)
    model = sm.OLS(y,X)
    f = model.fit()
    return f.summary()

In [24]:
hotel_cont = sig_train_n['hotel_continent']
ori_d = sig_train_n['orig_destination_distance']
hotel_clus = sig_train_n['hotel_cluster']
linearRegressionAnalysis(hotel_cont, ori_d, hotel_clus)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.984
Date:                Sun, 29 May 2016   Prob (F-statistic):              0.159
Time:                        16:50:29   Log-Likelihood:            -1.1572e+07
No. Observations:             2415446   AIC:                         2.314e+07
Df Residuals:                 2415444   BIC:                         2.314e+07
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         49.8663      0.041   1222.421      0.000        49.786    49.946
x1             0.0088      0.006      1.408      0.159        -0.003     0.021
x2             0.0088      0.006      1.408      0.159        -0.003     0.021
==============================================================================
Omnibus:                  1529815.563   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           135511.347
Skew:                           0.010   Prob(JB):                         0.00
Kurtosis:                       1.840   Cond. No.                          inf
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [25]:
rm_cont = sig_train_n['srch_rm_cnt']
adult_cont = sig_train_n['srch_adults_cnt']
hotel_clus = sig_train_n['hotel_cluster']

linearRegressionAnalysis(rm_cont, adult_cont, hotel_clus)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     89.45
Date:                Sun, 29 May 2016   Prob (F-statistic):           3.15e-21
Time:                        16:50:30   Log-Likelihood:            -1.1572e+07
No. Observations:             2415446   AIC:                         2.314e+07
Df Residuals:                 2415444   BIC:                         2.314e+07
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         50.3693      0.051    981.157      0.000        50.269    50.470
x1            -0.2048      0.022     -9.458      0.000        -0.247    -0.162
x2            -0.2048      0.022     -9.458      0.000        -0.247    -0.162
==============================================================================
Omnibus:                  1531338.712   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           135539.949
Skew:                           0.010   Prob(JB):                         0.00
Kurtosis:                       1.840   Cond. No.                     5.31e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.18e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [26]:
dest_type = sig_train_n['srch_destination_type_id']
dest = sig_train_n['srch_destination_id']
hotel_clus = sig_train_n['hotel_cluster']

linearRegressionAnalysis(dest_type, dest, hotel_clus)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     3302.
Date:                Sun, 29 May 2016   Prob (F-statistic):               0.00
Time:                        16:50:31   Log-Likelihood:            -1.1571e+07
No. Observations:             2415446   AIC:                         2.314e+07
Df Residuals:                 2415444   BIC:                         2.314e+07
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         51.2234      0.029   1739.141      0.000        51.166    51.281
x1            -0.2486      0.004    -57.466      0.000        -0.257    -0.240
x2            -0.2486      0.004    -57.466      0.000        -0.257    -0.240
==============================================================================
Omnibus:                  1448526.297   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           133867.373
Skew:                           0.011   Prob(JB):                         0.00
Kurtosis:                       1.847   Cond. No.                     2.37e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.03e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [27]:
corr_df_sig1 = corr_df[(corr_df>.25) & (corr_df<1)]
corr_df_sig1.dropna(how='all', axis=1, inplace=True)
display(corr_df_sig1)

,site_name,orig_destination_distance,srch_adults_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country
site_name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.261253
posa_continent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_location_country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_location_region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_location_city,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
orig_destination_distance,NaN,NaN,NaN,NaN,NaN,NaN,0.415210,0.255626
user_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_mobile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_package,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
channel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
srch_adults_cnt,NaN,NaN,NaN,0.511111,NaN,NaN,NaN,NaN
srch_children_cnt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
srch_rm_cnt,NaN,NaN,0.511111,NaN,NaN,NaN,NaN,NaN
srch_destination_id,NaN,NaN,NaN,NaN,NaN,0.437298,NaN,NaN
srch_destination_type_id,NaN,NaN,NaN,NaN,0.437298,NaN,NaN,NaN
is_booking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cnt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hotel_continent,NaN,0.415210,NaN,NaN,NaN,NaN,NaN,0.299645
hotel_country,0.261253,0.255626,NaN,NaN,NaN,NaN,0.299645,NaN
hotel_market,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hotel_cluster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
sig_cols = corr_df_sig1.columns
print sig_cols

Index([u'site_name', u'orig_destination_distance', u'srch_adults_cnt',
       u'srch_rm_cnt', u'srch_destination_id', u'srch_destination_type_id',
       u'hotel_continent', u'hotel_country'],
      dtype='object')

In [29]:
sig_train = pd.concat([train[sig_cols], train['hotel_cluster']], axis=1)
sig_train_n = sig_train.dropna()

In [30]:
sig_train_n

,site_name,orig_destination_distance,srch_adults_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_cluster
12057394,2,65.7650,1,1,5228,3,2,50,16
20197322,2,193.0748,3,1,7509,6,2,50,33
12630012,2,5370.7853,2,1,8253,1,6,70,98
6053804,34,452.2939,2,1,8223,1,2,50,70
6126375,2,51.5502,2,1,3448,3,2,50,54
15977838,2,1456.0842,2,1,11372,1,4,121,52
19338683,34,65.3644,2,1,25944,6,2,198,55
15492732,2,228.5113,6,2,11318,1,2,50,4
34939523,2,2597.8709,2,1,12372,5,2,50,9
11044060,2,219.3780,2,1,8250,1,2,50,1
10662288,2,843.1781,2,1,12846,5,2,50,40
23046198,34,17.3280,2,1,8288,1,2,198,41
24787045,2,1435.8861,2,1,8791,1,4,8,96
14832535,2,1092.9153,2,1,8250,1,2,50,24
3379144,13,3336.9485,2,1,1014,1,3,92,26
5934393,11,660.1162,2,1,12233,6,2,50,98
30001719,2,1475.4333,2,1,8864,1,4,47,73
19644969,2,58.9779,2,1,4819,3,2,50,72
25300189,2,2151.9323,2,1,12257,6,4,51,40
20634372,11,1452.6746,2,1,44045,3,2,50,41
15659250,2,6085.1123,2,1,8245,1,6,22,36
7363824,2,5198.7625,2,1,8744,1,3,106,25
14976570,2,516.2792,2,1,15093,1,2,50,91
803745,2,1910.0761,2,1,8260,1,2,50,83
1484343,2,270.3453,2,1,16704,5,2,50,91
33591435,2,74.3325,3,1,8834,1,2,50,14
12920805,2,2135.6281,4,2,8268,1,2,50,18
26010086,2,1555.1746,2,1,8791,1,4,8,52
18609817,2,2178.9910,2,1,8791,1,4,8,66
30981176,2,2.7586,2,1,8274,1,2,50,33
...,...,...,...,...,...,...,...,...,...
9786586,34,1224.3872,4,1,12495,5,2,50,42
34239875,2,1496.6522,1,1,8244,1,2,50,28
1928295,2,1380.1140,2,1,8250,1,2,50,79
35680778,2,3.9753,1,1,18055,1,2,50,42
2042866,2,592.2081,2,1,58409,4,6,77,82
31025737,34,1237.7092,2,1,12227,6,2,50,90
18613560,23,619.3890,2,1,53920,3,6,68,28
12459365,11,1074.3370,2,1,8268,1,2,50,92
31697553,2,435.8165,2,1,12364,5,2,50,98
33817337,2,0.1600,1,1,12270,6,2,50,56
5073740,2,0.4915,2,1,25859,1,2,50,14
18882309,11,1843.4234,2,1,11439,1,4,163,65
2530395,2,1773.1564,1,1,23682,6,2,50,6
2676093,2,247.9643,2,1,26987,6,2,50,50
26262969,2,446.6585,2,1,3072,3,2,50,31
26146865,23,6135.8646,2,1,9147,1,2,50,71
31983668,2,623.0513,3,2,11989,1,2,50,91
4277823,8,8167.1983,4,2,12206,6,2,50,79
5975754,23,3998.2278,2,1,8267,1,2,50,70
6090349,2,964.7422,2,1,8824,1,4,8,44
22918362,2,595.3425,2,2,12191,6,2,50,98
4070427,8,7340.4573,2,1,8225,1,4,124,44
15853658,2,3871.5057,2,1,12321,5,4,96,52
3651937,2,359.9735,2,1,8279,1,2,50,95
18659192,2,1551.3375,3,2,8259,1,4,8,21
20304802,2,1424.2962,1,1,8267,1,2,50,97
19857572,2,5424.1125,2,1,8740,1,6,105,97
18615490,2,869.2253,1,1,8250,1,2,50,94
13988420,2,85.9045,4,2,1901,1,2,198,68
4660094,2,110.5006,2,1,9147,1,2,50,34

In [31]:
linearRegressionAnalysis(sig_train_n['site_name'], sig_train_n['hotel_country'], sig_train_n['hotel_cluster'])

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     1492.
Date:                Sun, 29 May 2016   Prob (F-statistic):               0.00
Time:                        16:50:35   Log-Likelihood:            -1.1572e+07
No. Observations:             2415446   AIC:                         2.314e+07
Df Residuals:                 2415444   BIC:                         2.314e+07
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         50.4174      0.023   2213.462      0.000        50.373    50.462
x1            -0.0401      0.001    -38.629      0.000        -0.042    -0.038
x2            -0.0401      0.001    -38.629      0.000        -0.042    -0.038
==============================================================================
Omnibus:                  1513104.124   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           135180.775
Skew:                           0.010   Prob(JB):                         0.00
Kurtosis:                       1.841   Cond. No.                     9.42e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.57e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [32]:
linearRegressionAnalysis(sig_train_n['site_name'], sig_train_n['hotel_continent'], sig_train_n['hotel_cluster'])

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     1492.
Date:                Sun, 29 May 2016   Prob (F-statistic):               0.00
Time:                        16:50:36   Log-Likelihood:            -1.1572e+07
No. Observations:             2415446   AIC:                         2.314e+07
Df Residuals:                 2415444   BIC:                         2.314e+07
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         50.4174      0.023   2213.462      0.000        50.373    50.462
x1            -0.0401      0.001    -38.629      0.000        -0.042    -0.038
x2            -0.0401      0.001    -38.629      0.000        -0.042    -0.038
==============================================================================
Omnibus:                  1513104.124   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           135180.775
Skew:                           0.010   Prob(JB):                         0.00
Kurtosis:                       1.841   Cond. No.                     9.42e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.57e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [33]:
linearRegressionAnalysis(sig_train_n['orig_destination_distance'], sig_train_n['hotel_continent'], sig_train_n['hotel_cluster'])

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     121.9
Date:                Sun, 29 May 2016   Prob (F-statistic):           2.44e-28
Time:                        16:50:37   Log-Likelihood:            -1.1572e+07
No. Observations:             2415446   AIC:                         2.314e+07
Df Residuals:                 2415444   BIC:                         2.314e+07
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         49.7346      0.025   1988.827      0.000        49.686    49.784
x1          4.633e-05    4.2e-06     11.040      0.000      3.81e-05  5.46e-05
x2          4.633e-05    4.2e-06     11.040      0.000      3.81e-05  5.46e-05
==============================================================================
Omnibus:                  1518631.783   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           135293.064
Skew:                           0.011   Prob(JB):                         0.00
Kurtosis:                       1.841   Cond. No.                     5.58e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.38e-18. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [34]:
linearRegressionAnalysis(sig_train_n['orig_destination_distance'], sig_train_n['hotel_country'], sig_train_n['hotel_cluster'])

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     121.9
Date:                Sun, 29 May 2016   Prob (F-statistic):           2.44e-28
Time:                        16:50:38   Log-Likelihood:            -1.1572e+07
No. Observations:             2415446   AIC:                         2.314e+07
Df Residuals:                 2415444   BIC:                         2.314e+07
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         49.7346      0.025   1988.827      0.000        49.686    49.784
x1          4.633e-05    4.2e-06     11.040      0.000      3.81e-05  5.46e-05
x2          4.633e-05    4.2e-06     11.040      0.000      3.81e-05  5.46e-05
==============================================================================
Omnibus:                  1518631.783   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           135293.064
Skew:                           0.011   Prob(JB):                         0.00
Kurtosis:                       1.841   Cond. No.                     5.58e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.38e-18. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [35]:
linearRegressionAnalysis(sig_train_n['hotel_continent'], sig_train_n['hotel_country'], sig_train_n['hotel_cluster'])

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.984
Date:                Sun, 29 May 2016   Prob (F-statistic):              0.159
Time:                        16:50:39   Log-Likelihood:            -1.1572e+07
No. Observations:             2415446   AIC:                         2.314e+07
Df Residuals:                 2415444   BIC:                         2.314e+07
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         49.8663      0.041   1222.421      0.000        49.786    49.946
x1             0.0088      0.006      1.408      0.159        -0.003     0.021
x2             0.0088      0.006      1.408      0.159        -0.003     0.021
==============================================================================
Omnibus:                  1529815.563   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           135511.347
Skew:                           0.010   Prob(JB):                         0.00
Kurtosis:                       1.840   Cond. No.                          inf
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [ ]:
train_n = train.dropna()

In [47]:
nodate_cols = [col for col in train_n.columns if ((col !='date_time') & (col !='srch_ci')& (col !='srch_co'))]
print nodate_cols
train_n_nodate = train_n[nodate_cols]
train_n_nodate.shape

['site_name', 'posa_continent', 'user_location_country', 'user_location_region', 'user_location_city', 'orig_destination_distance', 'user_id', 'is_mobile', 'is_package', 'channel', 'srch_adults_cnt', 'srch_children_cnt', 'srch_rm_cnt', 'srch_destination_id', 'srch_destination_type_id', 'is_booking', 'cnt', 'hotel_continent', 'hotel_country', 'hotel_market', 'hotel_cluster']

(2412735, 21)

In [48]:
#try random forest to select features
from sklearn.ensemble import RandomForestClassifier
features_col = train_n_nodate.columns[:-2]
clf = RandomForestClassifier(n_jobs=2)
clf.fit(train_n_nodate[features_col], train_n_nodate['hotel_cluster'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [52]:
importances = clf.feature_importances_
indices = np.argsort(importances)[::-1]
print("Feature ranking: ")
for i in indices:
    print features_col[i], importances[i]

Feature ranking:
orig_destination_distance 0.253561309001
user_id 0.181646747865
user_location_city 0.138341094452
srch_destination_id 0.0982654818786
user_location_region 0.0682695366754
channel 0.0603425686747
cnt 0.0480689138329
srch_adults_cnt 0.0350314531049
srch_children_cnt 0.0221208076692
is_mobile 0.0192342432877
hotel_country 0.0148985924754
srch_rm_cnt 0.012341452229
site_name 0.010575471893
srch_destination_type_id 0.0096317210845
is_booking 0.00840525887451
hotel_continent 0.00801078329194
user_location_country 0.00516087567984
is_package 0.00364005711565
posa_continent 0.00245363091476