In [1]:
print "helloworld"

helloworld

In [7]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
dates = pd.date_range('2015-11-10', '2015-11-15')

In [4]:
dates

DatetimeIndex(['2015-11-10', '2015-11-11', '2015-11-12', '2015-11-13',
               '2015-11-14', '2015-11-15'],
              dtype='datetime64[ns]', freq='D')

In [10]:
atemps = Series([15,14,22,19,18,13], index=dates)

In [11]:
atemps

2015-11-10    15
2015-11-11    14
2015-11-12    22
2015-11-13    19
2015-11-14    18
2015-11-15    13
Freq: D, dtype: int64

In [12]:
sdtemps = Series([12,23,18,19,16,14], index=dates)

In [13]:
temps = DataFrame({'Cologne': atemps, 'Berlin':sdtemps})

In [14]:
temps

            Berlin  Cologne
2015-11-10      12       15
2015-11-11      23       14
2015-11-12      18       22
2015-11-13      19       19
2015-11-14      16       18
2015-11-15      14       13

In [15]:
btemps = Series([22,22,20,21,19,19], index=dates)

In [16]:
btemps

2015-11-10    22
2015-11-11    22
2015-11-12    20
2015-11-13    21
2015-11-14    19
2015-11-15    19
Freq: D, dtype: int64

In [20]:
temps['Hamburg']=btemps

In [21]:
temps

            Berlin  Cologne  Hamburg
2015-11-10      12       15       22
2015-11-11      23       14       22
2015-11-12      18       22       20
2015-11-13      19       19       21
2015-11-14      16       18       19
2015-11-15      14       13       19

In [22]:
temps.Hamburg.drop

<bound method Series.drop of 2015-11-10    22
2015-11-11    22
2015-11-12    20
2015-11-13    21
2015-11-14    19
2015-11-15    19
Freq: D, Name: Hamburg, dtype: int64>

In [23]:
temps

            Berlin  Cologne  Hamburg
2015-11-10      12       15       22
2015-11-11      23       14       22
2015-11-12      18       22       20
2015-11-13      19       19       21
2015-11-14      16       18       19
2015-11-15      14       13       19

In [26]:
del temps['Hamburg']

In [27]:
temps

            Berlin  Cologne
2015-11-10      12       15
2015-11-11      23       14
2015-11-12      18       22
2015-11-13      19       19
2015-11-14      16       18
2015-11-15      14       13

In [32]:
idx = temps.index[2]

In [34]:
temps.ix[idx, 'Berlin']

18

In [35]:
temps.ix[idx:]

            Berlin  Cologne
2015-11-12      18       22
2015-11-13      19       19
2015-11-14      16       18
2015-11-15      14       13

In [36]:
temps.ix[idx:, ['Cologne', 'Berlin']]

            Cologne  Berlin
2015-11-12       22      18
2015-11-13       19      19
2015-11-14       18      16
2015-11-15       13      14

In [ ]:
df_withDate = pd.read_csv('somefile.csv', p)